
//frontpage custom
.automargin{
	margin: 0 auto;
}
//navbar
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding-top: 11px;
    padding-left: .8rem;
}

.drawer-open-left #page.container-fluid {
	 padding: 2rem 1.6rem 0 1.8rem;
}

#page #page-header .card-body
{
	padding: 5px;
}
#page-site-index #mooveslideshow .carousel-indicators li{
	display:none;
}
#page-site-index #mooveslideshow .carousel-caption{

}
//news slide


