{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "https://moodlesite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10,
                "visible": true
            }
        ]
    }
}}
<div class="w-2 col-12 col-xl-2 col-lg-3 col-md-4 col-sm-6" role="listitem"
    data-region="course-content"
    data-course-id="{{{id}}}">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <div class="post-slide6">
                    <div class="post-img">
                        <a href="{{viewurl}}">
                            <img src="{{{courseimage}}}">
                        </a>
                        <div class="post-info">
                            <ul class="category" style="{{$style}}{{/style}}">
                                <li>{{#str}}countstudent, block_vnr_db_coursesuggest_position{{/str}} <a href="#">{{countstudent}}</a></li>
                                <li>{{#str}}teachername, block_vnr_db_coursesuggest_position{{/str}} <a href="#">{{fullnamet}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-review">
                        <span class="icons">
                               {{{imageteacher}}}
                        </span>
                        <h3 class="post-title"><a href="{{viewurl}}" title="{{fullname}}">{{fullname}}</a></h3>
            
                                <p class="post-teachername">{{#shortentext}}30, {{fullnamet}}{{/shortentext}}</p>
                                <p class="post-description">{{#shortentext}}90, {{summary}}{{/shortentext}}</p>
                            {{#hasprogress}}
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
                                      aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                                        {{progress}}%
                                      </div>
                                    </div>
                            {{/hasprogress}}
                            {{^hasprogress}}
                                <p class="post-enrolmethod">
                                    {{{enrolmethod}}}
                                </p>
                            {{/hasprogress}}
                    </div>
                </div>
            </div>
        </div>
</div>
