{{#listuser}}
<div class ="row">
   <div class="col-auto">
      <img src="/theme/moove/pix/star.png" height="40" width="40">
      <div class="text-on-img text-white" style="font-weight: 700">{{stt}}</div>
   </div>
   <div class="col-auto col-md-3 d-flex justify-content-md-end p-0">
   </div>
   <div class="col">
      <div class="d-inline text-primary font-weight-bold">{{userid}}</div>
      <div class="d-inline font-weight-bold pull-right">{{finalgrade}}</div>
   </div>
</div>
<div class="cl-hrb"></div>
{{/listuser}}