<div class="form-group">
    <label>{{#str}}emailtype, local_newsvnr{{/str}}</label>
    <div id="email-type"></div>
 </div>
  <div class="form-group">
  	<label>{{#str}}emailtemplate, local_newsvnr{{/str}}</label>
  </div>