<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 padding-db">

            <div class="row align-items-center">
                <div class="col-12">
                    <div class="card-group" style="border-top: 5px solid #1177d1;">

                        <div class="card" style="border-bottom-left-radius: .5rem;border-bottom-right-radius: .5rem;">
                            <div class="card-body">
                                    <div class="d-flex w-100">
                                        <div class="form-group">
                                          <select class="form-control" id="list_topgrade">
                                            <option value="0">Chọn khoá học</option>
                                            {{#list_course}}
                                                <option value="{{id}}">{{{fullname}}}</option>
                                            {{/list_course}}
                                          </select>
                                        </div>
                                    </div>
                                <div data-region="gradelist" class="">
                                    <div class="align-items-center" id="gradelist">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{{#js}}

require.config({
    packages: [{
        name: 'highcharts',
        main: 'highcharts'
    }],
    paths: {
        // Change this to your server if you do not wish to use our CDN.
        highcharts: 'https://code.highcharts.com',
        jspicker: "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr"
    }
});

// Load the depedencies and create your chart
require(

    [
        'highcharts',
        'highcharts/modules/exporting',
        'highcharts/modules/accessibility',
        'jquery',
        'core/config',
        'core/notification',
        'core/str',
        'core/templates'
    ],

    // This function runs when the above files have been loaded.
    function (Highcharts, ExportingModule, AccessibilityModule, $ ,Config, notification, Str, templates) {
        
        // Lấy danh sách khoá học theo thư mục khoá học
        $('#list_topgrade').change(function() {
            
            var courseid = $(this).val();
            var table = $('#gradelist');
            var settings = {
                type: 'GET',
                processData: true,
                data:{
                    action: "get_list_topgrade",
                    courseid: courseid
                },
                contentType: "application/json"
            };
            var script = Config.wwwroot + '/local/newsvnr/ajax.php';
            $.ajax(script, settings)
            .then(function(response) {
                var data = JSON.parse(response);
                
                if(data.listtopgrade.length != 0) {
                console.log('222');
                    templates.render('block_vnr_db_studentuser_topcourse/studentuser_topcourse_data', data).done(function(html, js) {
                        table.replaceWith(html);
                        templates.runTemplateJS(js);
                    }).fail(notification.exception);
                } 
                else {
                    table.html('<div class="d-flex w-100 justify-content-center alert alert-info alert-block fade in ">Khoá học chưa có điểm thi</div>');
                }
            }).fail(notification.exception);
        });     

});


{{/js}}