<div class="align-items-center" id="gradelist">
{{#haslisttopgrade}}
<div class="d-flex w-100 justify-content-center fade in"><p>Thứ hạng hiện tại trong khoá:  <span class="text-danger font-weight-bold">{{#rank}}{{{rank}}}{{/rank}}{{^rank}}Chưa có{{/rank}}</p></div>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Tên học viên</th>
	    <th>Điểm</th>
	    <th>Thứ hạng</th>
	  </tr>
	</thead>
	<tbody>
	{{#listtopgrade}}
	    <tr class="{{#color}}{{{color}}}{{/color}}">
	        <td>{{{fullname}}}</td>
	        <td>{{{finalgrade}}}</td>
	        <td>{{{rownum}}}</td>
	    </tr>
	{{/listtopgrade}}
	</tbody>
</table>
{{/haslisttopgrade}}

</div>