<style type="text/css">
    [data-region="gradelist"] .table-responsive-md:hover {
        overflow-y: auto;
    }
</style>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 padding-db">

            <div class="row align-items-center">
                <div class="col-12">
                    <div class="card-group" style="border-top: 5px solid #1177d1;">

                        <div class="card" style="border-bottom-left-radius: .5rem;border-bottom-right-radius: .5rem;">
                            <div class="card-body">
                                    <div class="d-flex w-100">
                                        <div class="form-group">
                                          <select class="form-control" id="list_topgrade">
                                            {{#list_course}}
                                                <option value="{{id}}">{{{fullname}}}</option>
                                            {{/list_course}}
                                          </select>
                                        </div>
                                    </div>
                                <div data-region="gradelist" class="">
                                    {{#haslisttopgrade}}
                                        <div class="align-items-center" id="gradelist"></div>
                                    {{/haslisttopgrade}}
                                    {{^haslisttopgrade}}
                                        <div class="d-flex w-100 justify-content-center alert alert-info alert-block fade in ">{{#str}}noresult, block_vnr_db_studentuser_topcourse{{/str}}</div>
                                    {{/haslisttopgrade}}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{{#js}}

// Load the depedencies and create your chart
require(

    [
        'jquery',
        'core/config',
        'core/notification',
        'core/str',
        'core/templates'
    ],

    // This function runs when the above files have been loaded.
    function ($ ,Config, notification, Str, templates) {
        
        //Load data 
        var loaddata = (courseid) => {
            var table = $('#gradelist');
            var settings = {
                type: 'GET',
                processData: true,
                data:{
                    action: "get_list_topgrade",
                    courseid: courseid
                },
                contentType: "application/json"
            };
            var script = Config.wwwroot + '/local/newsvnr/ajax.php';
            $.ajax(script, settings)
            .then(function(response) {
                var strings = [{
                    key: 'noresult',
                    component: 'block_vnr_db_studentuser_topcourse'
                }, ];
                Str.get_strings(strings).then(function(s) {
                    var data = JSON.parse(response);
                    if(data.listtopgrade.length != 0) {
                        templates.render('block_vnr_db_studentuser_topcourse/studentuser_topcourse_data', data).done(function(html, js) {
                            table.replaceWith(html);
                            templates.runTemplateJS(js);
                        }).fail(notification.exception);
                    } 
                    else {
                        var html = '<div class="d-flex w-100 justify-content-center alert alert-info alert-block fade in ">' + s[0] + '</div>';
                    }
                    });
                
            }).fail(notification.exception);
        }
        var courseid = $('#list_topgrade').val();
        loaddata(courseid);
        // Lấy danh sách khoá học theo thư mục khoá học
        $('#list_topgrade').change(function() {
            
            var courseid = $(this).val();
            loaddata(courseid);
            
        });     

});


{{/js}}