<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<ul class="nav-tabs nav multi-tab mb-3" tab="courseinfo">
{{#isadmin}}
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-key="courseinfo">{{#str}}coursemanagement,block_vnr_db_courseinfo_management{{/str}}</a></li>
 	<li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="studentinfo">{{#str}}studentmanagement,block_vnr_db_courseinfo_management{{/str}}</a></li>
 	<li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="teacherinfo">{{#str}}teachermanagement,block_vnr_db_courseinfo_management{{/str}}</a></li>
 	<li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="statistical">{{#str}}statistical,block_vnr_db_courseinfo_management{{/str}}</a></li>
{{/isadmin}}
</ul>
<div class="tab-content" tab="courseinfo">
	{{#isadmin}}
	<div data="courseinfo" class="tab-pane active">
		<div class="exam_search_form">
	      	<div class="row">
	            <div class="col-xl-5 col-4 pl-2 pr-2 mt-2 tree-search">
	                <input type="text" id="coursedatestart" onkeydown="return false;" value="" placeholder="{{#str}}timeopencourse,block_vnr_db_courseinfo_management{{/str}}">
	            </div>
	            <div class="col-xl-5 col-4 pl-2 pr-2 mt-2 tree-search">
	                <input type="text" id="coursedateend" onkeydown="return false;" value="" placeholder="{{#str}}timeendcourse,block_vnr_db_courseinfo_management{{/str}}">
	            </div>
                <div class="col-xl-2 col-4 pl-2 pr-2 tree-search mt-1">
                    <button id="course_search_dashboard" class="ml-auto w-100 search-button mt-1"><i class="fa fa-search mr-1"></i>{{#str}}searchcourse,block_vnr_db_courseinfo_management{{/str}}</button>
                </div>
	        </div>
    	</div>
		<div id="courseinfo_management"></div>
	</div>
	<div data="studentinfo" class="tab-pane">
		<div id="studentinfo_management"></div>
		<div id="windowstudent" style="display: none">
			<div id="listcourse_student"></div>
		</div>
	</div>
	<div data="teacherinfo" class="tab-pane">
		<div id="teacherinfo_management"></div>
		<div id="windowteacher" style="display: none">
			<div id="listcourse_teacher"></div>
		</div>
	</div>
	<div data="statistical" class="tab-pane">
		<div id="courseinfo_management">
			<div class="row">
				<div class="col-md-3">
					<div class="small-box bg-2 border">
						<div class="card">
							<div class="card-body">
								<div class="inner"><h3>{{coursecategory}}</h3></div>
								<p>{{#str}}studyroute,block_vnr_db_courseinfo_management{{/str}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-2 border">
						<div class="card">
							<div class="card-body">
								<div class="inner"><h3>{{course}}</h3></div>
								<p>{{#str}}course,block_vnr_db_courseinfo_management{{/str}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-2 border">
						<div class="card">
							<div class="card-body">
								<div class="inner"><h3>{{student}}</h3></div>
								<p>{{#str}}countstudent,block_vnr_db_courseinfo_management{{/str}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-2 border">
						<div class="card">
							<div class="card-body">
								<div class="inner"><h3>{{teacher}}</h3></div>
								<p>{{#str}}teachername,block_vnr_db_courseinfo_management{{/str}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/isadmin}}
</div>