<style type="text/css">
   @media (min-width: 480px) {
   .d-sm-block {
   display: block!important;
   }        
   }
   @media (min-width: 992px) {
   .d-lg-none {
   display: none!important;
   }        
   }
   @media screen and (max-width: 1023px) {
   .page-brand-info {
   display: none;
   }        
   }
     @media screen and (max-width: 1023px) {
   .text-white {
    color: #455a64 !important;
   }        
   }
   #page-login-index .page-brand-info, #page-login-signup .page-brand-info {
   position: fixed;
   left: 0;
   top: 100px;
   width: calc(100% - 500px);
   padding: 75px;
   }
   #page-login-index .loginform, #page-login-index .signupform, #page-login-signup .loginform, #page-login-signup .signupform {
   position: fixed;
   right: 0;
   top: 0;
   background: white;
   height: 100%;
   width: 500px;
   overflow-y: auto;
   animation-name: slide-right;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-fill-mode: both;
   }
   @media screen and (max-width: 1023px) {
   .loginform, .signupform {
   width: 100%!important;
   }    
   }
   .card, #page-enrol-users #filterform, .que .history, .userprofile .profile_tree section, .groupinfobox, .well {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   -webkit-background-clip: border-box;
   background-clip: border-box;
   border-radius: .215rem;
   }
   .card-header:first-child {
   border-radius: calc(.215rem - 1px) calc(.215rem - 1px) 0 0;
   }
   .row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -1.0715rem;
   margin-left: -1.0715rem;
   }
   @media screen and (max-width: 600px) {
   #page-login-index .login-profiles .col-sm-4 {
   max-width: 33.33%;
   flex-direction: column;
   }    
   }
   @media (min-width: 480px) {
   .col-sm-4 {
   flex: 0 0 33.33333%;
   max-width: 33.33333%;
   }    
   }
   @media screen and (max-width: 600px) {
   #page-login-index .login-profiles .profile-content a img {
   width: 100%;
   border-radius: 50%;
   -webkit-box-shadow: 3px 2px 5px #252525;
   box-shadow: 3px 2px 5px #252525;
   }    
   }
   #page-login-index .login-profiles .profile-content a img {
   width: 75%;
   border-radius: 50%;
   -webkit-box-shadow: 3px 2px 5px #252525;
   box-shadow: 3px 2px 5px #252525;
   border: 2px solid #632c2c;
   -webkit-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
   }
   .form-control, input[type="text"] {
   display: block;
   width: 100%;
   padding: .429rem 1rem;
   font-size: 1rem;
   line-height: 1.57143;
   color: #526069;
   background-color: #fff;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border: 1px solid #e4eaec;
   border-radius: .215rem;
   }
   
@-webkit-keyframes slide-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@-o-keyframes slide-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
</style>
<div class="row justify-content-center" id="yui_3_17_2_1_1598058773684_23">
   <div class="page-brand-info">
      
   </div>
   <div class="p-0 loginform" id="yui_3_17_2_1_1598058773684_22">
      <div class="card" style="border: none; box-shadow: none;" id="yui_3_17_2_1_1598058773684_21">
         <div class="card-block p-5" id="yui_3_17_2_1_1598058773684_20">
            {{# logourl }}
            <h2 class="card-header text-center bg-transparent mb-3 p-4"><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/> </h2>
            {{/ logourl }}
           {{#error}}
              <div class="loginerrors">
                  <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                  <div class="alert alert-danger" role="alert">{{error}}</div>
              </div>
            {{/error}}
            <div class="card-body" id="yui_3_17_2_1_1598058773684_28">
               <div class="row justify-content-md-center" id="yui_3_17_2_1_1598058773684_27">
                  <div class="col-md-12" id="yui_3_17_2_1_1598058773684_26">
                     <h3 class="mb-4" id="yui_3_17_2_1_1598058773684_25">{{#str}}login{{/str}}</h3>
                     <form action="{{loginurl}}" method="post" id="login" class="signup-form">
                        <input id="anchor" type="hidden" name="anchor" value="">
                        <script>document.getElementById('anchor').value = location.hash;</script>
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                        <label for="username" class="sr-only">
                        {{^canloginbyemail}}
                        {{#str}} username {{/str}}
                        {{/canloginbyemail}}
                        {{#canloginbyemail}}
                        {{#str}} usernameemail {{/str}}
                        {{/canloginbyemail}}
                        </label>
                        <div class="input-group input-group-username mb-3">
                           <input type="text" name="username" id="username"
                              class="form-control"
                              value="{{username}}"
                              placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>
                        </div>
                        <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                        <div class="input-group input-group-password mb-3">
                           <input type="password" name="password" id="password" value=""
                              class="form-control"
                              placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
                        </div>
                    <button type="submit" class="btn btn-primary btn-block" id="loginbtn">{{#str}}login{{/str}}</button>
                     </form>
                  </div>
                  <div class="col-md-12" id="yui_3_17_2_1_1598233254846_22">
                     <footer class="page-copyright py-4" id="yui_3_17_2_1_1598233254846_21">
                        <p class="text-center" id="yui_3_17_2_1_1598233254846_20">Theo dõi chúng tôi</p>
                        <div class="social text-center">
                           <a href="#" class="btn btn-icon btn-round social-facebook p-0 mr-1"><img src="/theme/moove/pix/youtube.png"></i></a>
                           <a href="#" class="btn btn-icon btn-round social-twitter p-0 mr-1"><img src="/theme/moove/pix/facebook.png"></i></a>
                           <a href="#" class="btn btn-icon btn-round social-linkedin p-0 mr-1"><img src="/theme/moove/pix/linkedin.png"></i></a>
                        </div>
                     </footer>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   const submitform = (username, password) => {
       var username = username;
       var password = password;
        document.getElementById('username').value = '';
        document.getElementById('password').value = '';
       var intervalID = setInterval(function() {
           if(document.getElementById('username').className != 'complete'){
               var val = document.getElementById('username').value;
               if(val.length == username.length){
                   document.getElementById('username').classList.add("complete");
                   if(document.getElementById('password').className != 'complete'){
                       var val = document.getElementById('password').value;
                       if(val.length == password.length){
                           document.getElementById('password').classList.add("complete");
                       }else{
                           for(var i = 0; i < password.length; i++){
                               if(val.length <= i){
                                   document.getElementById('password').value = val + password.charAt(i);
                                   return;
                               }
                           }
                       }
                   }
                   var x = document.getElementsByClassName('signup-form');
                   x[0].submit();
                   clearInterval(intervalID);
               }else{
                   for(var i = 0; i < username.length; i++){
                       if(val.length <= i){
                           document.getElementById('username').value = val + username.charAt(i);
                           return;
                       }
                   }
               }
           }
           
   
       }, 100);
   }
   
</script>