<div class="container-fluid">
    
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-md-6 card border-0 shadow-nohover rounded p-2">
            
                <div class="row align-items-center m-0">
                    <div class="col-12 col-lg-4 mt-1 mb-1">
                        <div class="row">
                           <!--  <div id="reportrange" class="form-control rounded">
                                <div class="d-flex justify-content-center">
                                    <i class="fa fa-calendar drpicker-icon"></i>
                                    <span></span> 
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div> -->
                            <input type="text" placeholder="Vui lòng chọn mốc thời gian" data-input class="form-control rounded" id="filterdate">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 mt-1 mb-1">
                            <div class="row align-items-center">
                                <div class="col-auto d-inline">Jump to: </div>
                                <select name="list_chart" id="list_chart" class="custom-select col rounded d-inline form-control">
                                    <!-- <option selected>Chọn loại biểu đồ</option> -->
                                    <option value="1" selected>{{#str}}numberstudentcompletedcourse, block_vnr_db_viewreport{{/str}}</option>
                                    <option value="2">{{#str}}reportgrade, block_vnr_db_viewreport{{/str}}</option>
                                    <option value="3">{{#str}}viewscourse, block_vnr_db_viewreport{{/str}}</option>
                                    <option value="4">{{#str}}trendjoinactivity, block_vnr_db_viewreport{{/str}}</option>
                                    <option value="5">{{#str}}trendenrolcourse, block_vnr_db_viewreport{{/str}}</option>
                                </select>
                               
                            </div>
                      
                    </div>
                </div>
            
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col pr-0">
            <select name="list_course" id="list_course" class="custom-select col rounded w-100">
                {{! <option selected value="0">Chọn khoá học</option> }}
                {{#list_course}}
                <option value="{{id}}" selected>{{fullname}}</option>
                {{/list_course}}
                
            </select>
        </div>
        <div class="col-auto">
            <button class="input-button cl-button" title="Xóa tất cả filter" data-clear id="clear">RESET</button>
        </div>
    </div>
    <div class="card shadow-nohover w-100 path-report path-report-completion path-grade path-grade-report path-grade-report-grader chrome dir-ltr pagelayout-report jsenabled drawer-ease p-2">
        <div class="showchart" id="showchart"></div>
        <div class="showchart_grid" id="showchart_grid"></div>
       
    </div>
   
</div>
<style type="text/css">
.export-actions,.progress-actions {
    text-align: center;
    list-style: none;
}
table#completion-progress {
    margin-top: 20px;
    margin-bottom: 30px;
}
</style>
<script type="text/javascript">
    // var getUrlParam = new URLSearchParams(window.location.search);
    // var param = getUrlParam.get('id');
    // var paramJson = {};
    // paramJson['id'] = param;
    // $("#list_chart").val(param);
    
    // // Chọn loại biểu đồ
    // var courseid = $('#list_course').val();
    // $('#list_course').change(function(){
    //     courseid = $(this).val();
    //     if(param == 1) {
    //             action= "coursecomp_chart_vp";
    //     } else if(param == 2) {
    //         url = 'http://localhost:8080/grade/report/grader/index.php?id=' + courseid + ' .gradeparent';
    //         $('.showchart').load(url);
    //     } else if(param == 3) {
    //         action = "viewcount_chart_vp"
    //     } else if(param == 4) {
    //         action = "coursemodulecomp_chart_vp"
    //     } else if(param == 5) {
    //         action = "joincourse_chart_vp"
    //     } 
    // });
    
</script>
{{#js}}

require.config({
    packages: [{
        name: 'highcharts',
        main: 'highcharts'
    }],
    paths: {
        highcharts: 'https://code.highcharts.com',
        jspicker: '//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr',
        kendo: '//kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min',
     
    }
});
require(
[
    'highcharts',
    'highcharts/modules/exporting',
    'highcharts/modules/accessibility',
    'jquery',
    'core/config',
    'core/notification',
    'core/str',
    'jspicker',
    'kendo.all.min',
    'block_vnr_db_viewreport/viewreport'
],
function (Highcharts, ExportingModule, AccessibilityModule, $, Config, Notification, Str, jspicker, kendo, vpgrid) {
   
    ExportingModule(Highcharts);
    AccessibilityModule(Highcharts);
    var script = Config.wwwroot + '/local/newsvnr/restfulapi/webservice.php';
    var getUrlParam = new URLSearchParams(window.location.search);
    var param = getUrlParam.get('id');
    var paramJson = {};
    paramJson['id'] = param;
    $("#list_chart").val(param);
    $body = $('body');
     // Chọn loại biểu đồ
    var chartname = function (param) {
        var action = '';
        if(param == 1) {
            action= "coursecomp_chart_vp";
        } else if(param == 2) {
            action = "quizoverview_chart_vp";
        } else if(param == 3) {
            action = "viewcount_chart_vp"
        } else if(param == 4) {
            action = "coursemodulecomp_chart_vp"
        } else if(param == 5) {
            action = "joincourse_grid"
        } 
        return action;
    }
    paramJson['action'] = chartname(param);
    var settings = {
        type: 'GET',
        data: paramJson,
        processData: true,
        contentType: "application/json"
    };
    //Gọi ajax load dữ liệu chưa qua filter
    var callAjax = function (script, settings) {
        $body.addClass("loading");
        $('.showchart').removeClass('d-none');
        $('.showchart_grid').addClass('d-none');
        $.ajax(script,settings)
        .then(function(response) {
            if (response.error) {
              Notification.addNotification({
                  message: response.error,
                  type: "error"
              });
            } else {
                var strings = [{
                    key: 'nodatatable',
                    component: 'local_newsvnr'
                },];
                Str.get_strings(strings).then(function(s) {
                    var data = response;
                    <!-- data.title.text = "Xu hướng tham gia khóa học"; -->
                    // Create a chart.
                    Highcharts.chart('showchart', data);
                    $body.removeClass("loading");
                });
           }
          return;
        }).fail(Notification.exception);
    }
    //Xóa phần tử trong object
    var deteleParamJson = function deleteParam() {
        delete paramJson.courseid;
        delete paramJson.strdate;
    }
    if(paramJson['action'] == 'viewcount_chart_vp')
        callAjax(script, settings);
   
    $("#filterdate").flatpickr({
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        onChange: function(dateObj, dateStr) {
            if(dateStr) {
                paramJson['strdate'] = dateStr;
                if(paramJson['action'] == 'viewcount_chart_vp')
            callAjax(script, settings);
            } else {
                deteleParamJson();
                if(paramJson['action'] == 'viewcount_chart_vp')
                    callAjax(script, settings);
            }
        },
        onReady: function(dateObj, dateStr, instance) {
            var $cal = $(instance.calendarContainer);
            if ($cal.find('.flatpickr-clear').length < 1) {
                $cal.append('<div class="flatpickr-clear bg-primary text-white rounded-bottom cl-cursor">Clear</div>');
                $cal.find('.flatpickr-clear').on('click', function() {
                    instance.clear();
                    instance.close();
                });
            }
        }
        
    });    

    //Xóa bỏ filter trả về dữ liệu ban đầu
    $('#clear').click(function(){
        deteleParamJson();
        if(paramJson['action'] == 'viewcount_chart_vp')
            callAjax(script, settings);
    });
    var strings = [{
                    key: 'nodatatable',
                    component: 'local_newsvnr'
                }, {
                    key: 'nosettingconditioncompletecourse',
                    component: 'block_vnr_db_viewreport'
                }, {
                    key: 'noactivityincourse',
                    component: 'block_vnr_db_viewreport'
                }, ];
    Str.get_strings(strings).then(function(s) {
        // Chọn loại biểu đồ
        $('#list_chart').change(function() {
            
            param = $('select[id=list_chart]').val();
            var chartid = $('select[id=list_chart]').val();
            paramJson['id'] = chartid;
            paramJson['action'] = chartname(chartid);
            var settings = {
                type: 'GET',
                data: paramJson,
                processData: true,
                contentType: "application/json"
            };
            if(paramJson['action'] == 'viewcount_chart_vp')
                callAjax(script, settings);
            courseid = $('#list_course').val();
            $('.showchart').removeClass('d-none');
            $('.showchart_grid').addClass('d-none');
            if (param == 1) {
                url = Config.wwwroot + '/report/completion/index.php?course=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        var html = '<div class="d-flex justify-content-center alert alert-info alert-block fade in ">' + s[1] + '</div>';
                        $(".showchart").html(html);
                    }
                });
            } else if (param == 2) {
                url = Config.wwwroot + '/grade/report/grader/index.php?id=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        $(".showchart").html(msg + xhr.status + " " + xhr.statusText);
                    }
                });
            } else if (param == 3) {
                action = "viewcount_chart_vp"
            } else if (param == 4) {
                url = Config.wwwroot + '/report/progress/index.php?course=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        var html = '<div class="d-flex justify-content-center alert alert-info alert-block fade in ">' + s[2] + '</div>';
                        $(".showchart").html(html);
                    }
                });
            } else if (param == 5) {
                $('.showchart_grid').removeClass('d-none');
                 vpgrid.viewreport(courseid);
                 $('.showchart').addClass('d-none');
            }
        });
        $('#list_course').change(function() {
            courseid = $(this).val();
            $('.showchart').removeClass('d-none');
            $('.showchart_grid').addClass('d-none');
            if (param == 1) {
                url = Config.wwwroot + '/report/completion/index.php?course=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        var html = '<div class="d-flex justify-content-center alert alert-info alert-block fade in ">' + s[1] + '</div>';
                        $(".showchart").html(html);
                    }
                });
            } else if (param == 2) {
                url = Config.wwwroot + '/grade/report/grader/index.php?id=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        $(".showchart").html(msg + xhr.status + " " + xhr.statusText);
                    }
                });
            } else if (param == 3) {
                action = "viewcount_chart_vp"
            } else if (param == 4) {
                url = Config.wwwroot + '/report/progress/index.php?course=' + courseid + ' [role=main]';
                $body.addClass("loading");
                $('.showchart').load(url, function(response, status, xhr) {
                    if(status) {
                        $body.removeClass("loading");
                    }
                    if (status == "error") {
                        var html = '<div class="d-flex justify-content-center alert alert-info alert-block fade in ">' + s[2] + '</div>';
                        $(".showchart").html(html);
                    }
                });
            } else if (param == 5) {
                $('.showchart_grid').removeClass('d-none');
                 vpgrid.viewreport(courseid);
                 $('.showchart').addClass('d-none');
            }
            var chart_courseid = $(this).val();
            if(chart_courseid != 0) {
                paramJson['courseid'] = chart_courseid;
                if(paramJson['action'] == 'viewcount_chart_vp')
                    callAjax(script, settings);
            } else {
                deteleParamJson();
                if(paramJson['action'] == 'viewcount_chart_vp')
                    callAjax(script, settings);
            }
        }).change();
    });
});
{{/js}}