<div id="course-userplan-slider" class="owl-carousel owl-theme">
{{#listusercoursecomp}}
{{#newscourse}}
<div class="post-slide6">
                    <div class="post-img">
                        {{{courseimage}}}
                        <div class="post-info">
                            <ul class="category">
                                <li>Học viên <a href="#">{{countstudent}}</a></li>
                                <li>Giáo viên <a href="#">{{fullnamet}}</a></li>
                               
                            </ul>
          
                        </div>
                    </div>
                    <div class="post-review">
                        <span class="icons">
                               {{{imageteacher}}}
                        </span>
                        <h3 class="post-title"><a href="{{{link}}}" title="{{fullname}}">{{#shortentext}}80, {{fullname}}{{/shortentext}}</a></h3>
                            <p class="post-teachername">{{#shortentext}}30, {{fullnamet}}{{/shortentext}}</p>
                            
                            <p class="post-description">{{#shortentext}}90, {{summary}}{{/shortentext}}</p>

                            <p class="post-enrolmethod">{{{enrolmethod}}}</p>
                    </div>
                </div>
{{/newscourse}}
{{/listusercoursecomp}}
 </div>
{{#js}}
   
    $.getScript("/theme/moove/js/owl.carousel.js", function() {
    

    $('#course-userplan-slider').owlCarousel({
        loop:false,
        margin:50,
        lazyLoad:true,
        // autoplay:true,
        autoplayTimeout:5000,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
            },
            600:{
                items:2,
            },
            1000:{
                items:4, 
            },
            1400:{
                items:5, 
            }
        }

    });
});
   
{{/js}}
