{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/settings_link_page

    Displays the admin tree as a list of grouped links.

    Example context (json):
    {
        "node": {
            "text": "Root of menu",
            "key": "test0",
            "display": true,
            "children": [
                {
                    "text": "Child of menu",
                    "key": "test1",
                    "display": true,
                    "children": []
                }
            ]
        }
    }
}}
<div class="card">
    <ul class="nav nav-tabs nav-header" role="tablist">
    <!-- First the top most node and immediate children -->
        <li class="nav-item">
            <a class="nav-link active" href="#link{{node.key}}" data-toggle="tab" role="tab">{{node.text}}</a>
        </li>
    <!-- Now the first level children with sub nodes -->
    {{#node.children}}
        {{#children.count}}
            {{#display}}
                {{^is_short_branch}}
                    <li class="nav-item">
                        <a class="nav-link" href="#link{{key}}" data-toggle="tab" role="tab">{{text}}</a>
                    </li>
                {{/is_short_branch}}
            {{/display}}
        {{/children.count}}
    {{/node.children}}
    </ul>
</div>
<div class="tab-content mt-3">
    <div class="tab-pane active" id="link{{node.key}}" role="tabpanel">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h4 class="title-admin"><a href="javascript:;">General</a></h4>
                    <ul class="list-unstyled">
                        {{#node.children}}
                            {{^children.count}}
                                {{#display}}
                                    <li>
                                        <a class="list-item-admin" href="{{{action}}}">{{text}}</a>
                                        {{#node.isedit}}
                                            {{#hidden}}
                                                <a class="config-admin" action="show" key="{{key}}" href="javascript:;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                            {{/hidden}}
                                            {{^hidden}}
                                                <a class="config-admin" action="hide" key="{{key}}" href="javascript:;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            {{/hidden}}
                                        {{/node.isedit}}
                                    </li>
                                {{/display}}
                            {{/children.count}}
                        {{/node.children}}
                    </ul>
                </div>
            {{#node.children}}
                {{#display}}
                    {{#children.count}}
                        {{#is_short_branch}}
                            <div class="col-md-3 mb-3">
                                {{#action}}
                                <h4 class="title-admin">
                                    <a href="{{action}}">{{text}}</a>
                                    {{#node.isedit}}
                                        {{#hidden}}
                                            <a class="config-admin" action="show" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye-slash" aria-hidden="true"></i></a>
                                        {{/hidden}}
                                        {{^hidden}}
                                            <a class="config-admin" action="hide" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye" aria-hidden="true"></i></a>
                                        {{/hidden}}
                                    {{/node.isedit}}
                                </h4>
                                {{/action}}
                                {{^action}}<h4 class="title-admin">{{text}}</h4>{{/action}}
                                <ul class="list-unstyled">
                                    {{#children}}
                                        {{> core/settings_link_page_single }}
                                    {{/children}}
                                </ul>
                            </div>
                        {{/is_short_branch}}
                    {{/children.count}}
                {{/display}}
            {{/node.children}}
            </div>
        </div>
    </div>
    {{#node.children}}
        {{#children.count}}
            <div class="tab-pane" id="link{{key}}" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            {{#action}}
                                <h4 class="title-admin">
                                    <a href="{{action}}">{{text}}</a>
                                    {{#node.isedit}}
                                        {{#hidden}}
                                            <a class="config-admin" action="show" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye-slash" aria-hidden="true"></i></a>
                                        {{/hidden}}
                                        {{^hidden}}
                                            <a class="config-admin" action="hide" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye" aria-hidden="true"></i></a>
                                        {{/hidden}}
                                    {{/node.isedit}}
                                </h4>
                            {{/action}}
                            {{^action}}<h4 class="title-admin">{{text}}</h4>{{/action}}
                            <ul class="list-unstyled">
                                {{#children}}
                                    {{#display}}
                                        {{^children.count}}
                                            <li>
                                                <a href="{{{action}}}">{{text}}</a>
                                                {{#node.isedit}}<a class="config-admin" key="{{key}}" href="javascript:;"><i class="fa fa-eye" aria-hidden="true"></i></a>{{/node.isedit}}
                                            </li>
                                        {{/children.count}}
                                    {{/display}}
                                {{/children}}
                            </ul>
                        </div>
                        {{#children}}
                            {{#display}}
                                {{#children.count}}
                                    <div class="col-md-3 mb-3">
                                        {{#action}}
                                            <h4 class="title-admin">
                                                <a href="{{action}}">{{text}}</a>
                                                {{#node.isedit}}
                                                    {{#hidden}}
                                                        <a class="config-admin" action="show" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye-slash" aria-hidden="true"></i></a>
                                                    {{/hidden}}
                                                    {{^hidden}}
                                                        <a class="config-admin" action="hide" key={{key}} href="javascript:;"><i class="ml-1 fa fa-eye" aria-hidden="true"></i></a>
                                                    {{/hidden}}
                                                {{/node.isedit}}
                                            </h4>
                                        {{/action}}
                                        {{^action}}<h4 class="title-admin">{{text}}</h4>{{/action}}
                                        <ul class="list-unstyled">
                                            {{#children}}
                                                {{> core/settings_link_page_single }}
                                            {{/children}}
                                        </ul>
                                    </div>
                                {{/children.count}}
                            {{/display}}
                        {{/children}}
                    </div>
                </div>
            </div>
        {{/children.count}}
    {{/node.children}}
</div>
