<div class="db-student">
{{#userinfo}}
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title d-inline">{{#str}}infostudent,local_newsvnr{{/str}}</h5>
				<hr>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="d-flex justify-content-center">
							{{{userimgbig}}}
						</div>
						<div class="text-center mt-2"><a href="{{{userlink}}}" target="_blank">{{#str}}viewdetail,local_newsvnr{{/str}}</a></div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<div class="d-flex"><p class="grey mr-1">{{#str}}fullnamelastname,local_newsvnr{{/str}}</p><p class="text-title">{{{fullname}}}</p></div>
						<div class="d-flex"><p class="grey mr-1">{{#str}}studentcode,local_newsvnr{{/str}}</p><p class="text-title">{{{usercode}}}</p></div>
						<div class="d-flex"><p class="grey mr-1">Email: </p><p class="text-title">{{{email}}}</p></div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="d-flex"><p class="grey mr-1">{{#str}}competency,local_newsvnr{{/str}}: </p><p class="text-title">{{{competency}}}</p></div>
						<div class="d-flex"><p class="grey mr-1">{{#str}}forumpost,local_newsvnr{{/str}}</p><p class="text-title">{{{forumpost}}}</p></div>
						<div class="d-flex"><p class="grey mr-1">{{#str}}timeaccess,local_newsvnr{{/str}}</p><p class="text-title">{{{timespent}}}</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-md-6 mt-3">
				<div class="card card-studentrp-db card-student-mycourse">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								<div class="mb-2 font-weight-bold">{{#str}}mycourses,local_newsvnr{{/str}}</div>
								<div class="font-title mb-1">{{{coursestotal}}}</div>
								<a href="javascript:;" class="viewdetairp" action="viewcourse">{{#str}}viewdetail,local_newsvnr{{/str}}</a>
							</div>
							<div>
								<i class="fa fa-graduation-cap db-icon-font-size"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-3">
				<div class="card card-studentrp-db card-student-badge">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								<div class="mb-2 font-weight-bold">{{#str}}badge,local_newsvnr{{/str}}</div>
								<div class="font-title mb-1">{{{badge}}}</div>
								<a href="javascript:;" class="viewdetairp" action="viewbadge">{{#str}}viewdetail,local_newsvnr{{/str}}</a>
							</div>
							<div>
								<img src="/./theme/moove/pix/ribbon.svg" class="db-icon">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-3">
				<div class="card card-studentrp-db card-student-progress">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								<div class="mb-2 font-weight-bold">{{#str}}competency,local_newsvnr{{/str}}</div>
								<div class="font-title mb-1">{{{competency_plan}}}</div>
								<a href="javascript:;" class="viewdetairp" action="viewcompetencyplan">{{#str}}viewdetail,local_newsvnr{{/str}}</a>
							</div>
							<div>
								<img src="/./theme/moove/pix/statistics.svg" class="db-icon">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-3">
				<div class="card card-studentrp-db card-student-exam">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								<div class="mb-2 font-weight-bold">{{#str}}exam,local_newsvnr{{/str}}</div>
								<div class="font-title mb-1">{{{exam}}}</div>
								<a href="javascript:;" class="viewdetairp" action="viewexam">{{#str}}viewdetail,local_newsvnr{{/str}}</a>
							</div>
							<div>
								<img src="/./theme/moove/pix/prize.svg" class="db-icon">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="viewDetailReport" class="pt-1">
			<div id="loaddetailrp"></div>
			<div class="loading-page"></div>
		</div>
	</div>
</div>
{{/userinfo}}
<div class="row mt-3">
	<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
		 <div class="card">
		 	<div class="card-body">
		 		<h5 class="card-title d-inline">{{#str}}gradereport,local_newsvnr{{/str}}</h5>
		    	<div id="quizchart" class="mt-3"></div>
		    	<div id="moduledetail-kendo"></div>
	    	</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title d-inline">{{#str}}learningprocess,local_newsvnr{{/str}}</h5>
				<hr>
				<div id="progresschart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		 <div class="card">
		 	<div class="card-body">
		 		<h5 class="card-title d-inline">{{#str}}coursejoin,local_newsvnr{{/str}}</h5>
				<hr>
		 		<div id="mycourse-kendo"></div>
		 	</div>
		 </div>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
		 <div class="card">
		 	<div class="card-body">
		        <ul class="nav-tabs nav multi-tab mb-3" tab="quizkendo">
    	        	<li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-key="quiz">{{#str}}test,local_newsvnr{{/str}}</a></li>
			        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="homework">{{#str}}homework,local_newsvnr{{/str}}</a></li>
		   		</ul>
   				<div class="tab-content" tab="quizkendo">
					<div data="quiz" class="tab-pane active">
						<div id="myquiz-kendo"></div>
					</div>
					<div data="homework" class="tab-pane">
				 		<div id="myhomework-kendo"></div>
					</div>
		 		</div>
		 </div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
    const closeKendo = () => {
        require(['jquery', 'core/config', 'local_newsvnr/initkendogrid'], ($, config, kendo) => {
           	$("#moduledetail-kendo").empty();   
        });
    };
    const tabClick = (data,tab) => {
    	require(['jquery', 'core/config'], ($, config) => {
	        $(".nav.multi-tab[tab="+tab+"] li a").removeClass('active');
	        $(".nav.multi-tab[tab="+tab+"] li a[data="+data+"]").addClass('active');
	        $('.tab-content[tab='+tab+'] .tab-pane').hide();
	        $('.tab-content[tab='+tab+'] .tab-pane[data="' + data + '"]').fadeIn('fast');
	    })
	}
</script>
{{#js}}
require.config({
    packages: [{
        name: 'highcharts',
        main: 'highcharts'
    }],
    paths: {
        // Change this to your server if you do not wish to use our CDN.
        highcharts: 'https://code.highcharts.com',
        jspicker: "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr"
    }
});
require(
		[
			'highcharts',
	        'highcharts/modules/exporting',
	        'highcharts/modules/accessibility',
        	'highcharts/modules/drilldown',
        	'jquery', 
        	'core/config', 
        	'local_newsvnr/initkendogrid', 
        	'alertjs', 
        	'core/str'
       ], function(Highcharts, ExportingModule, AccessibilityModule, DrilldownModule, $, Config, kendo, alertify, Str) {
var script = Config.wwwroot + '/local/newsvnr/ajax/dashboard/chart_api_student.php';
var gridmodule= '#moduledetail-kendo';
var gridcourse = '#mycourse-kendo';
var gridhomework = '#myhomework-kendo';
var gridquiz = '#myquiz-kendo';
{{! window xem chi tiết thống kê}}
$('.db-student .viewdetairp').click(function() {
	$('.loading-page').addClass('active');
	$('#viewDetailReport').data("kendoWindow").center().open();
	var scriptrp = Config.wwwroot + '/local/newsvnr/ajax/dashboard/studentreport_viewdetail.php';
	var action = $(this).attr('action')
	var settings = {
		type: 'GET',
        processData : true,
        datatype: 'json',
        data : {
            action : action
        }
	}
	$.ajax(scriptrp,settings).then(function(resp) {
		var obj = $.parseJSON(resp);
		$('#loaddetailrp').hide().html(obj.result).fadeIn('fast');
		$('.k-window-title').html(obj.title);
		$('.loading-page').removeClass('active');
	})
})
$('#viewDetailReport').kendoWindow({
    width: "1200px",
    title: '',
    visible: false,
    open: onOpen,
    actions: [
        "Minimize",
        "Maximize",
        "Close"
    ],
})
function onOpen(e) {
	setPositionWindow('#viewDetailReport',100);
}
{{! Kendo xem chi tiết điểm của module  }}
var initKendoModule = function(courseid) {
	var kendoConfig = {};
		var settings = {			
			url: script,
			type : 'GET',
        	dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data : {
            	courseid : courseid,
            	action : 'moduledetail'
        	}
		};
		var columns = [
			{
				template: function(e) {
					return e.name
				},
                field: "name",
                title: 'Hoạt động tài nguyên',
                width: "150px"
			},
			{
                field: "finalgrade",
                title: 'Điểm của bạn',
                width: "120px"
			},
			{
                field: "finalgradecourse",
                title: 'Điểm trung bình tổng',
                width: "120px"
			},
			{
                field: "timeclose",
                title: 'Ngày hết hạn',
                width: "150px"
			}
		];
		var toolbar = false;
		kendoConfig.selectable = false;
		kendoConfig.toolbar = toolbar;
		kendoConfig.columns = columns;
		kendoConfig.apiSettings = settings;
		var gridData = kendo.initGrid(kendoConfig);
		$(gridmodule).kendoGrid(gridData);
}
{{! Kendo xem ds khóa học đã tham gia  }}
var initKendoMycourse = function() {
	var kendoConfig = {};
		var settings = {			
			url: script,
			type : 'GET',
        	dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data : {
            	action : 'mycourse'
        	}
		};
		var columns = [
			{
				template: function(e) {
					return e.coursename
				},
                field: "coursename",
                title: 'Khóa học',
                width: "180px"
			},
			{
				template: function(e) {
					return e.process
				},
                field: "process",
                title: 'Tiến trình học',
                width: "150px"
			},
			{
                field: "gradefinal",
                title: 'Điểm',
                width: "50px"
			},
			{
                field: 'timestart',
                title: 'Ngày vào khóa',
                width: "110px"
			},
			{
                field: 'timecompleted',
                title: 'Ngày hoàn thành',
                width: "110px"
			}
		];
		var toolbar = false;
		kendoConfig.selectable = false;
		kendoConfig.toolbar = toolbar;
		kendoConfig.columns = columns;
		kendoConfig.apiSettings = settings;
		kendoConfig.joinCourseEvent = function(dataItem) {
			window.open(Config.wwwroot + '/course/view.php?id='+dataItem.courseid,'_blank');
		}
		var gridData = kendo.initGrid(kendoConfig);
		$(gridcourse).kendoGrid(gridData);
}
{{! Kendo bài tập về nhà }}
var initKendoHomework = function() {
	var kendoConfig = {};
		var settings = {			
			url: script,
			type : 'GET',
        	dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data : {
            	action : 'homework'
        	}
		};
		var columns = [
			{
				template: function(e) {
					return e.name
				},
                field: "name",
                title: 'Tên bài tập',
                width: "150px"
			},
			{
                field: 'grade',
                title: 'Điểm',
                width: "80px"
			},
			{
                field: 'timedue',
                title: 'Ngày đến hạn',
                width: "120px"
			}
		];
		var toolbar = false;
		kendoConfig.selectable = false;
		kendoConfig.toolbar = toolbar;
		kendoConfig.columns = columns;
		kendoConfig.apiSettings = settings;
		var gridData = kendo.initGrid(kendoConfig);
		$(gridhomework).kendoGrid(gridData);
}
{{! Kendo quiz }}
var initKendoQuiz = function() {
	var kendoConfig = {};
		var settings = {			
			url: script,
			type : 'GET',
        	dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data : {
            	action : 'myquiz'
        	}
		};
		var columns = [
			{
				template: function(e) {
					return e.name
				},
                field: "name",
                title: 'Tên bài tập',
                width: "150px"
			},
			{
                field: 'grade',
                title: 'Điểm',
                width: "80px"
			},
			{
                field: 'timedue',
                title: 'Ngày đến hạn',
                width: "120px"
			}
		];
		var toolbar = false;
		kendoConfig.selectable = false;
		kendoConfig.toolbar = toolbar;
		kendoConfig.columns = columns;
		kendoConfig.apiSettings = settings;
		var gridData = kendo.initGrid(kendoConfig);
		$(gridquiz).kendoGrid(gridData);
}
{{! Chart cột hiện thông tin điểm  }}
$.getJSON(script + '?action=quizchart',function(data) {
	// Create the chart
	Highcharts.chart('quizchart', {
	  	chart: {
		    type: 'column',
		    renderTo: quizchart,
		    height:316,
          	events: {
		        drilldown: function(e) {
		           	initKendoModule(e.point.drilldown);
					$("#moduledetail-kendo .k-grid-header").prepend("<div class='gridTitle'><span>Xem chi tiết điểm khóa "+e.point.name+"</span><i onclick='closeKendo()' class='fa fa-times float-right' id='closekendo' aria-hidden='true'></i></div>");
		        }
		    }
		},
	  	title: {
	    	text: ''
	  	},

	    tooltip: {
	    	shared: true,
	        pointFormat: '<span style="color:{point.color}">Điểm của bạn</span> :<b>{point.y:.1f}</b><br/><span>{point.rank}</span><br>',
	    },
		lang: {
			drillUpText: '< Back'
		},
	  	accessibility: {
	    	announceNewData: {
	      	enabled: true
	    	}
	  	},
  	    xAxis: {
		    type: 'category'
	    },
	  	yAxis: {
  		  	title: {
		    	text: ''
		  	},
	    	max: 10
	  	},
	  	legend: {
	    	enabled: true
	  	},
	  	plotOptions: {
		    series: {
	        	pointWidth: 40,
		      	borderWidth: 0,
		      	dataLabels: {
				        enabled: true,
				        format: '{point.y:.1f}',
				        colors: 'black',
				        style: {
				        	textOutline: 0
				    	}
		      		}
		    	},
	  	},
	  	colors: ['rgb(29, 127, 179)'],
	  	series: [
	    {
	      	name: "Điểm của bạn",
	      	colorByPoint: false,
	      	data: data.avggrade
	    },
	    {
	    	name: "Điểm trung bình khóa",
	        type: 'spline',
	        data: data.avggradecourse,
    	    tooltip: {
				headerFormat: '',
			    pointFormat: '<span style="color:{point.color}">Điểm TB khóa học</span>:<b>{point.y}</b><br/>'
			},
	        categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'],
	        color: '#f98d21',
	        marker: {
	            lineWidth: 3,
	            lineColor: '#f98d21',
	            fillColor: '#f98d21'
	        }
        }
	  	],
	});
});	
{{! chart tròn hiện thị quá trình học }}
$.getJSON(script + '?action=piechart',function(data) {
	Highcharts.chart('progresschart', {
	    chart: {
	        plotBackgroundColor: null,
	        plotBorderWidth: null,
	        plotShadow: false,
	        type: 'pie',
	        height:300
	    },
	    title: {
	        text: ''
	    },
	    tooltip: {
	    	headerFormat: '',
	        pointFormat: '<b style="color: {point.color}">Khóa học {point.name}</b><br>{point.course}'
	    },
	    accessibility: {
	        point: {
	            valueSuffix: '%'
	        }
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            colors: ['#e93e08','#428bca'],
	            dataLabels: {
	                enabled: true,
	             	format: '{point.percentage:.1f} %',
	                distance: -50,
	                color: 'white',
	             	filter: {
	                    property: 'percentage',
	                    operator: '>',
	                    value: 4,
	                },
                    style: {
			        	textOutline: 0,
			    	}
	            },
	            showInLegend: true
	        }
	    },
	    series: [{
	        name: 'Khóa học',
	        colorByPoint: true,
	        data: data
	    }]
	});
})
initKendoMycourse();
initKendoHomework();
initKendoQuiz();
})
{{/js}}