{{#userinfo}}
<div class="card">
    <div class="card-body">
        <div class="user-overview">
            <div class="db-avartar">
                {{#userimg}}{{{userimg}}}{{/userimg}}
            </div>
            <div class="info">
                <h2>{{#fullname}}{{{fullname}}}{{/fullname}}</h2>
                <p>{{#email}}{{{email}}}{{/email}}</p>
            </div>
            <div class="stats">
                Tổng khóa học: {{#coursestotal}}{{coursestotal}}{{/coursestotal}}
                Khóa học hoàn thành: {{#completedcoures}}{{completedcoures}}{{/completedcoures}}{{^completedcoures}}0{{/completedcoures}}
                Khóa học đang học: {{#progresscoures}}{{progresscoures}}{{/progresscoures}}
            </div>
        </div>
    </div>
</div>
{{/userinfo}}
<ul class="nav-tabs nav" id="dashboard-tab">
<li class="nav-item" data-key="db-dashboard">
            <a class="nav-link active" href="#db-dashboard" data-toggle="tab">Dashboard</a>
        </li>
       
        <li class="nav-item " data-key="db-courses">
            <a class="nav-link" href="#db-courses" data-toggle="tab">Khóa học</a>
        </li></ul>
        <div id="dashboard-content" class="tab-content">
        	<div class="tab-pane fadein active" id="db-dashboard">
                <div class="row">
                    <div class="col">
                        <div id="quiz-chart"></div>
                    </div>
                </div>
        		<div id="mycourse"></div>
                <div class="row">
                    <div class="col-4">1</div>
                    <div class="col-8">2</div>
                </div>
        	</div>
        	<div class="tab-pane fadein" id="db-courses">
        		<h2>Tab 2</h2>
        	</div>
        </div>
{{#js}}

require.config({
    packages: [{
        name: 'highcharts',
        main: 'highcharts'
    }],
    paths: {
        // Change this to your server if you do not wish to use our CDN.
        highcharts: 'https://code.highcharts.com',
        jspicker: "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr"
    }
});

// Load the depedencies and create your chart
require(
    [
        'highcharts',
        'highcharts/modules/exporting',
        'highcharts/modules/accessibility',
        'highcharts/modules/drilldown',
        'jquery',
        'core/config',
        'core/notification',
        'core/str',
        'jspicker'
    ],
    // This function runs when the above files have been loaded.
    function (Highcharts, ExportingModule, AccessibilityModule, DrilldownModule,$,Config,Notification,Str,jspicker) {

        // We need to initialize module files and pass in Highcharts.
        ExportingModule(Highcharts);

        // Load accessibility after exporting.
        AccessibilityModule(Highcharts);
        var script = Config.wwwroot + '/local/newsvnr/ajax/dashboard/chart_api.php';

        var settings = {
                type: 'GET',
                data: {
                    "action":"quiz_chart"
                },
                dataType: "json",
                processData: true,
                contentType: "application/json"
            };
        $.ajax(script,settings)
        .then(function(response) {
            if (response.error) {
                Notification.addNotification({
                    message: response.error,
                    type: "error"
                });
            } else {
                var strings = [{
                    key: 'nodatatable',
                    component: 'local_newsvnr'
                }, {
                    key: 'numberstudent',
                    component: 'block_vnr_db_teacheruser_xh'
                }, {
                    key: 'totalstudent',
                    component: 'block_vnr_db_teacheruser_xh'
                }, {
                    key: 'numbercompletedcourse',
                    component: 'block_vnr_db_teacheruser_xh'
                }];
                Str.get_strings(strings).then(function(s) {
            console.log(response)

                    // Create the chart
                    Highcharts.chart('quiz-chart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Browser market shares. January, 2018'
                        },
                        {{! accessibility: {
                            announceNewData: {
                                enabled: true
                            }
                        },
                       
                        legend: {
                            enabled: false
                        },
                        

                         tooltip: {
                            shared: true
                        }, }}
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            x: 80,
                            verticalAlign: 'top',
                            y: 55,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || // theme
                                'rgba(255,255,255,0.25)'
                        },

                        series: [{
                            name: "My grades",
                            colorByPoint: true,
                            data: response.grades
                        }]
                       {{!  [
                            {
                                name: "My grades",
                                colorByPoint: true,
                                data: [
                                    {
                                        name: "Chrome",
                                        y: 62.74,
                                        drilldown: "Chrome"
                                    },
                                    {
                                        name: "Firefox",
                                        y: 10.57,
                                        drilldown: "Firefox"
                                    },
                                    {
                                        name: "Internet Explorer",
                                        y: 7.23,
                                        drilldown: "Internet Explorer"
                                    },
                                    {
                                        name: "Safari",
                                        y: 5.58,
                                        drilldown: "Safari"
                                    },
                                    {
                                        name: "Edge",
                                        y: 4.02,
                                        drilldown: "Edge"
                                    },
                                    {
                                        name: "Opera",
                                        y: 1.92,
                                        drilldown: "Opera"
                                    },
                                    {
                                        name: "Other",
                                        y: 7.62,
                                        drilldown: null
                                    }
                                ]
                            },  }}
                            {{! {
                                
                                  name: 'Lowest point',
                                  type: 'spline',
                                  data: [15, 6.9, 9.5, 32, 18.2, 21.5, 25.2],
                                  
                              
                            }, {
                                
                                  name: 'Highest point',
                                  type: 'spline',
                                  data: [7.0, 17, 9.5, 73, 8, 21.5, 25.2],
                              
                            } }}
                        {{! ], }}
                        {{! drilldown: {
                            series: [
                                {
                                    name: "Chrome",
                                    id: "Chrome",
                                    data: [
                                        [
                                            "v65.0",
                                            0.1
                                        ],
                                        [
                                            "v64.0",
                                            1.3
                                        ],
                                        [
                                            "v63.0",
                                            53.02
                                        ],
                                        [
                                            "v62.0",
                                            1.4
                                        ],
                                        [
                                            "v61.0",
                                            0.88
                                        ],
                                        [
                                            "v60.0",
                                            0.56
                                        ],
                                        [
                                            "v59.0",
                                            0.45
                                        ],
                                        [
                                            "v58.0",
                                            0.49
                                        ],
                                        [
                                            "v57.0",
                                            0.32
                                        ],
                                        [
                                            "v56.0",
                                            0.29
                                        ],
                                        [
                                            "v55.0",
                                            0.79
                                        ],
                                        [
                                            "v54.0",
                                            0.18
                                        ],
                                        [
                                            "v51.0",
                                            0.13
                                        ],
                                        [
                                            "v49.0",
                                            2.16
                                        ],
                                        [
                                            "v48.0",
                                            0.13
                                        ],
                                        [
                                            "v47.0",
                                            0.11
                                        ],
                                        [
                                            "v43.0",
                                            0.17
                                        ],
                                        [
                                            "v29.0",
                                            0.26
                                        ]
                                    ]
                                },
                                {
                                    name: "Firefox",
                                    id: "Firefox",
                                    data: [
                                        [
                                            "v58.0",
                                            1.02
                                        ],
                                        [
                                            "v57.0",
                                            7.36
                                        ],
                                        [
                                            "v56.0",
                                            0.35
                                        ],
                                        [
                                            "v55.0",
                                            0.11
                                        ],
                                        [
                                            "v54.0",
                                            0.1
                                        ],
                                        [
                                            "v52.0",
                                            0.95
                                        ],
                                        [
                                            "v51.0",
                                            0.15
                                        ],
                                        [
                                            "v50.0",
                                            0.1
                                        ],
                                        [
                                            "v48.0",
                                            0.31
                                        ],
                                        [
                                            "v47.0",
                                            0.12
                                        ]
                                    ]
                                },
                                {
                                    name: "Internet Explorer",
                                    id: "Internet Explorer",
                                    data: [
                                        [
                                            "v11.0",
                                            6.2
                                        ],
                                        [
                                            "v10.0",
                                            0.29
                                        ],
                                        [
                                            "v9.0",
                                            0.27
                                        ],
                                        [
                                            "v8.0",
                                            0.47
                                        ]
                                    ]
                                },
                                {
                                    name: "Safari",
                                    id: "Safari",
                                    data: [
                                        [
                                            "v11.0",
                                            3.39
                                        ],
                                        [
                                            "v10.1",
                                            0.96
                                        ],
                                        [
                                            "v10.0",
                                            0.36
                                        ],
                                        [
                                            "v9.1",
                                            0.54
                                        ],
                                        [
                                            "v9.0",
                                            0.13
                                        ],
                                        [
                                            "v5.1",
                                            0.2
                                        ]
                                    ]
                                },
                                {
                                    name: "Edge",
                                    id: "Edge",
                                    data: [
                                        [
                                            "v16",
                                            2.6
                                        ],
                                        [
                                            "v15",
                                            0.92
                                        ],
                                        [
                                            "v14",
                                            0.4
                                        ],
                                        [
                                            "v13",
                                            0.1
                                        ]
                                    ]
                                },
                                {
                                    name: "Opera",
                                    id: "Opera",
                                    data: [
                                        [
                                            "v50.0",
                                            0.96
                                        ],
                                        [
                                            "v49.0",
                                            0.82
                                        ],
                                        [
                                            "v12.1",
                                            0.14
                                        ]
                                    ]
                                }
                            ]
                        } }}
                    });
                });
        }
            return;
        }).fail(Notification.exception);
    }
);


{{/js}}
