{{>theme_moove/inc_start}}
<div class="container-fluid" id="page">
    <div class="mt-2">
        {{^hasportal}}
        {{{ output.full_header }}}
    {{/hasportal}}
    </div>
    <div class="row" id="page-content">
        <div class="col-12" id="region-main-box">
            {{#hasregionmainsettingsmenu}}
            <div class="d-print-none" id="region-main-settings-menu">
                <div>
                    {{{ output.region_main_settings_menu }}}
                </div>
            </div>
            {{/hasregionmainsettingsmenu}}
            <section id="region-main">
                <div class="card">
                    <div class="card-body d-none">
                        {{{ output.main_content }}}
                    </div>
                    <div class="card-body library">
                        <div class="d-flex align-items-center justify-content-between">
                            {{#canedit}}
                            <div class="d-flex">
                                <a class="btn btn-primary mr-2 d-none" id="add-quiz">
                                    <i aria-hidden="true" class="fa fa-plus mr-2">
                                    </i>
                                    {{#str}}createquiz, local_newsvnr{{/str}}
                                </a>
                                <a class="btn btn-primary" href="course/admin.php?courseid=1">
                                    <i aria-hidden="true" class="fa fa-university mr-2">
                                    </i>
                                    {{#str}}questionbank, local_newsvnr{{/str}}
                                </a>
                            </div>
                            {{/canedit}}
                        </div>
                        <div class="row mg-0">
                            <div class="col-12 col-md-3 pd-0 mt-3">
                                <div class="border overflow-hidden">
                                    {{{output.exam_subject_tree}}}
                                </div>
                            </div>
                            <div class="col-12 col-md-9 pr-0 pd-0-mobile mt-2">
                                <div class="exam_search_form">
                                    <div class="row">
                                        <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                            <input class="exam_search_input" id="examname" placeholder="{{#str}}examname, local_newsvnr{{/str}}" type="text" value="">
                                            </input>
                                        </div>
                                        <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                            <input class="exam_search_input" id="examdate" placeholder="{{#str}}examdate, local_newsvnr{{/str}}" type="text" value="">
                                            </input>
                                        </div>
                                        <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                            <input class="exam_search_input" id="subjectname" placeholder="{{#str}}subjectexam, local_newsvnr{{/str}}" type="text" value="">
                                            </input>
                                        </div>
                                        <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                            <button class="ml-auto w-100" id="exam_search_button">
                                                <i class="fa fa-search mr-1">
                                                </i>
                                                {{#str}}search, local_newsvnr{{/str}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="loading-page">
                                </div>
                                <div id="table-exam">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{>theme_moove/inc_end}}
