{{>theme_moove/inc_start}}
<div id="page" class="container-fluid">
	<div class="mt-2">
    {{^hasportal}}
        {{{ output.full_header }}}
    {{/hasportal}}
	</div>
    <div id="page-content" class="row">
        <div id="region-main-box" class="col-12">
            {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
            {{/hasregionmainsettingsmenu}}
            <section id="region-main">
                <div class="card">
                    <div class="card-body d-none">
                        {{{ output.main_content }}}
                    </div>
                <div class="card-body">

                	<div class="d-flex align-items-center justify-content-between">
                      {{#canedit}}
                       <div class="d-flex">
          			        <a class="btn btn-default mr-2 d-none" target="_blank" id="add-quiz"><i class="fa fa-plus mr-2" aria-hidden="true"></i>{{#str}}createquiz, local_newsvnr{{/str}}</a>
                        <a class="btn btn-default" target="_blank" href="course/admin.php?courseid=1"><i class="fa fa-university mr-2" aria-hidden="true"></i>{{#str}}questionbank, local_newsvnr{{/str}}</a>
                      </div>
                      {{/canedit}}
      				      </div>
                    <div class="row mg-0">
                        <div class="col-12 col-md-3 pd-0 mt-3" id="menu-tree-exam">
                            <div class="border overflow-hidden">
                              <li class="list-category" id="exam-type">Danh sách kỳ thi bắt buộc</li>
                              <ul id="examonline-category">
                              </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 pr-0 pd-0-mobile mt-2">
                            <div class="exam_search_form">
                                <div class="row">
                                    <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                        <input name="" type="text" class="exam_search_input" id="examname" placeholder="{{#str}}examname, local_newsvnr{{/str}}" value="">
                                    </div>
                                    <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                        <input type="text" class="exam_search_input" id="examdate" placeholder="{{#str}}examdate, local_newsvnr{{/str}}" value="">
                                    </div>
                                    <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                        <input name="" type="text" class="exam_search_input" id="subjectname" placeholder="{{#str}}subjectexam, local_newsvnr{{/str}}" value="">
                                    </div>
                                    <div class="col-xl-3 col-6 pl-2 pr-2 tree-search mt-2">
                                        <button id="exam_search_button" class="ml-auto w-100"><i class="fa fa-search mr-1"></i>{{#str}}search, local_newsvnr{{/str}}</button>
                                    </div>
                                </div>
                            </div>
                          <div class="loading-page"></div>
                          <div id="table-exam">
                          </div>
                        </div>
                  </div>
               </div>
                </div>
            </section>
        </div>
    </div>
</div>
 
{{>theme_moove/inc_end}}
