
{{#active}}
    <nav class="navcourse" id="nav-course" style="background-color: {{{output.get_navcourse_color}}}">
        <div class="row pr-2 pl-2 w-100">
            <div class="col-auto font-weight-bold nav-course-padding">
                <i class="fa fa-list-ul"></i><span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
            </div>
            <div class="dropdown">
            <div class="col-auto font-weight-bold cl-cursor nav-course-padding">

                <span data-toggle="dropdown">Danh mục khoá học</span>
                {{! <ul class="dropdown-menu " role="menu" id="drop-course-category"> }}
                  {{#nav_course_categories}}{{{nav_course_categories}}}{{/nav_course_categories}}
                {{! </ul> }}
            </div>
            </div>
         <div class="dropdown">
            <div class="col-auto font-weight-bold cl-cursor nav-course-padding">

                <span data-toggle="dropdown">Khoá học của tôi</span>

                <ul class="dropdown-menu " role="menu" id="drop-course-by-student">
                   {{#nav_coursebystudent}}{{{nav_coursebystudent}}}{{/nav_coursebystudent}}{{^nav_coursebystudent}}<li class="dropdown-item"><a href="#">Chưa tham gia khoá học</a></li>{{/nav_coursebystudent}}
                </ul>
            </div>
        </div>
             {{#nav_coursebyteacher}}
            <div class="dropdown">
                <div class="col-auto font-weight-bold cl-cursor nav-course-padding">
                <span data-toggle="dropdown">Khoá giảng của tôi</span>
                <ul class="dropdown-menu " role="menu" id="drop-course-by-teacher">
                  {{#nav_coursebyteacher}}{{{nav_coursebyteacher}}}{{/nav_coursebyteacher}}
                </ul>
               </div>
            </div>
             {{/nav_coursebyteacher}}
            <div class="col d-flex">
                {{#course_search_form_fp}}{{{course_search_form_fp}}}{{/course_search_form_fp}}
            </div>
        </div>

    </nav>
{{/active}}