{{#active}}
<header id="page-header" class="row">
    <div class="col-12 pb-1">
        <div class="d-flex flex-wrap pt-1 pb-1">

                    {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                    {{/hasnavbar}}
                    <div class="ml-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
        </div>
        <div id="course-header">
                {{{courseheader}}}
        </div>
        {{#iscontextheader}}
        <div class="card {{^contextheader}}border-0 bg-transparent{{/contextheader}} d-none">
            <div class="card-body {{^contextheader}}p-2{{/contextheader}}">
                <div class="d-flex pt-1 pb-1">
                    {{#contextheader}}
                    <div class="mr-auto">
                        {{{contextheader}}}
                    </div>
                    {{/contextheader}}

                </div>
            </div>
        </div>
        {{/iscontextheader}}
        {{^iscontextheader}}
        <div class="card {{^contextheader}}border-0 bg-transparent{{/contextheader}}">
            <div class="card-body {{^contextheader}}p-2{{/contextheader}}">
                <div class="d-flex pt-1 pb-1">
                    {{#contextheader}}
                    <div class="mr-auto">
                        {{{contextheader}}}
                    </div>
                    {{/contextheader}}

                </div>
            </div>
        </div>
        {{/iscontextheader}}
    </div>
</header>
{{#settingsmenu}}
    <div id="setting-context">
        <div class="context-header-settings-menu" style="z-index: 100000;">
            {{{settingsmenu}}}
        </div>
    </div>
{{/settingsmenu}}
{{/active}}

{{^active}}


    {{#settingsmenu}}
    <div id="setting-context">
        <div class="context-header-settings-menu">
            {{{settingsmenu}}}
        </div>
    </div>
    {{/settingsmenu}}


{{/active}}