{{#hascourse}}
<h4 class="text-dark md-block font-weight-bold" align="center">{{#str}}popularcourse, theme_moove{{/str}}</h4>
 <div class="container outline-none" id="courseslider" tabindex="1">
        <div class="row">
                <div id="frontpage-course-slider" class="owl-carousel owl-theme">
                   {{#newscourse}}
                    <div class="post-slide6">
                    <div class="post-img">
                        {{{courseimage}}}
                        <div class="post-info">
                            <ul class="category">
                                <li>{{#str}}numberstudent, theme_moove{{/str}} <a href="#">{{countstudent}}</a></li>
                                <li>{{#str}}teachername, theme_moove{{/str}} <a href="#">{{fullnamet}}</a></li>
                               
                            </ul>
          
                        </div>
                    </div>
                    <div class="post-review">
                        <span class="icons">
                               {{{imageteacher}}}
                        </span>
                        <h3 class="post-title"><a href="{{{link}}}" title="{{fullname}}">{{#shortentext}}80, {{fullname}}{{/shortentext}}</a></h3>
                            <p class="post-teachername">{{#shortentext}}30, {{fullnamet}}{{/shortentext}}</p>
                            
                            <p class="post-description">{{#shortentext}}90, {{summary}}{{/shortentext}}</p>

                            <p class="post-enrolmethod">
                                {{#enrolmethod}}{{{enrolmethod}}}{{/enrolmethod}}
                                {{#progress}}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
                                      aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                                            {{progress}}%
                                        </div>
                                    </div>
                                {{/progress}}
                            </p>
                    </div>
                </div>
                       {{/newscourse}}                
                </div>
        </div>
    </div>
{{/hascourse}}
