{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{{ output.standard_head_html }}}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    {{! <meta name="referrer" content="no-referrer"> }}

<style type="text/css">
    #page.container-fluid {
        padding: 0 !important;
    }
    .modal-iframe {
        width: 1300px;
    }
    .modal-iframe iframe {
        border: none;
    }
    #page-content {
        margin: 0;
    }
    #region-main-box.col-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fixed-sidebar-left {
        margin-left: -225px;
        width: 225px;
    }
    .search_form_fp {
        display: none;
    }
    .navbar-brand.has-logo {
        display: none !important;
    }
    #page-wrapper {
        margin-left: 0 !important;
    }
    @media (max-width: 950px) {
        #focus-mod {
            display: none !important;
        }
    }
</style>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.material.mobile.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{{! <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> }}
{{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" /> }}
{{! <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script> }}
{{{output.get_js_moove}}}
</head>
<body {{{ bodyattributes }}} data-iframe-height="iFrameResizer">
<div id="general-iframe">
{{> core/local/toast/wrapper}}
<div class="modal123"></div>
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}