{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/header

    Page header template

    Example context (json): {}
}}



<nav class="fixed-top navbar navbar-light navbar-expand moodle-has-zindex" menu>
    <a href="javascript:;" class="btn-menu" id="btn-menu" style="margin-right:10px"><i class="icono fa fa-bars fa-2x text-gray" aria-hidden="true"></i></a>
    
    <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.get_logo }}has-logo{{/ output.get_logo }}
        {{^ output.get_logo }}
            d-none d-sm-inline
        {{/ output.get_logo }}
            ">
        {{# output.get_logo }}
            <span class="logo d-sm-inline">
                <img src="{{output.get_logo}}" alt="{{sitename}}">
            </span>
        {{/ output.get_logo }}
        {{^ output.get_logo }}
            <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
        {{/ output.get_logo }}
    </a>
    <div class="collapse show m-auto" id="nav-draw">
    <ul class="nav navbar-nav nav-draw">
        {{{output.nav_header}}}
        {{# flatnavigation }}
            {{#showdivider}}
                <a class ="nav-active" href="{{{action}}}"><li class="metismenu" data-key="{{key}}" id=''>{{{text}}}</li></a>
            {{/showdivider}}
        
        {{/ flatnavigation }}
    </ul>

</div>
    <ul class="nav navbar-nav">
        <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>

        <li class="nav-item lang-menu">
            {{{ output.render_lang_menu }}}
        </li>

        {{{ output.navbar_plugin_output }}}

        {{{ output.user_menu }}}
    </ul>
</nav>
<header id="header" style="margin-top: 52px;">
    <nav class="menu">
      <div class="enlaces" id="enlaces">
        {{{output.nav_header}}}
        {{# flatnavigation }}
            {{#showdivider}}
                <a class ="nav-active" href="{{{action}}}"><li class="metismenu" data-key="{{key}}" id=''>{{{text}}}</li></a>
            {{/showdivider}}
        
        {{/ flatnavigation }}
      </div>
    </nav>            
</header>

{{{ output.nav_course}}}

{{#js}}
    $(function(){
    //menu responsive
    //calcular ancho
    var ancho = $(window).width(),
        menu = $('#header .menu'),
        btnMenu = $('#btn-menu'),
        icono = $('#btn-menu .icono');
        overflow = $('.overflow-all');

        btnMenu.on('click', function(e){
            icono.toggleClass('fa-bars');
            icono.toggleClass('fa-times');
            menu.toggleClass('width-60');
            overflow.toggleClass('d-block');
        });

        overflow.click(function(e){
            menu.removeClass('width-60');   
            overflow.removeClass('d-block');
            icono.toggleClass('fa-bars');
            icono.toggleClass('fa-times');
        })
    });
    $(function() {
        $('[data-key=addblock]').click(function(e){
            e.preventDefault();
        });
    });
{{/js}}