    {{#hasblocks}}
        <i id="sidepreopen-control"
            aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
            aria-controls="sidepre-blocks"
            data-action="toggle-drawer"
            data-side="right"
            data-preference="sidepre-open"
            title="{{#str}} showhideblocks, theme_moove {{/str}}">
        </i>

        <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
            {{{ sidepreblocks }}}
        </section>
    {{/hasblocks}}

    {{{ output.standard_after_main_region_html }}}

    
</div><!-- Ends .page-wrapper -->
{{> theme_moove/footer }}
</body>
</html>
{{#js}}
require.config({
    packages: [{
        name: 'highcharts',
        main: 'highcharts'
    }],
    paths: {
        // Change this to your server if you do not wish to use our CDN.
        highcharts: 'https://code.highcharts.com',
        jspicker: "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr"
    }
});
 require.config({
    paths: {
      "kendo.all.min": "//kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min",
      "dttable": "/local/newsvnr/js/datatable.min",
      "alertjs": "//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min",
      "validatefm" : "//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min",
    }
});
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});

require(['theme_moove/metismenu', 'jquery'], function(metisMenu, $) {

    $(".metismenu").metisMenu();

});

require(['jquery', 'core/config'], function($, Config) {
    var iconsearch = document.querySelector('.moove-search-input .slicon-magnifier');
    var btnclosesearch = document.querySelector('.search-input-form .close-search');
    var searchinputform = document.querySelector('.moove-search-input');
    if (iconsearch) {

        var togglesearchinputform = function() {
            searchinputform.classList.toggle('expanded');
        }

        iconsearch.onclick = togglesearchinputform;
        btnclosesearch.onclick = togglesearchinputform;
    }
    $('[data-region="drawer-toggle"]').click(function(){
        setTimeout(function(){
                $('#page').find('.dataTable[role="grid"][aria-describedby]').DataTable().columns.adjust().draw();

        },500);
       
    });
    var courseurl = '/course/view.php';
    if($('[data-region="drawer"]')) {
        $('[data-region="drawer"]').removeClass('closed');
        $('[data-region="drawer"]').addClass('open');
    }
    {{! active menu }}
    $(function(){
        $("#nav-draw ul li").parent().filter(function(){
            return this.href==location.href}
        ).addClass('active-nav').siblings().removeClass('active-nav');
        $("#enlaces li").parent().filter(function(){
            return this.href==location.href}
        ).addClass('active-nav').siblings().removeClass('active-nav');
    });
    // active UI câu hỏi trong bài kiểm tra quiz
    if($('#responseform')) {
        $('#responseform .content input').click(function() {
            var quizheight = $(this).closest('div.que.multichoice').height();
            var x = $(this).closest('div.que.multichoice').offset();
            if($(this).closest('div.qtype_multichoice_clearchoice').hasClass('abcd')) {
                $("html, body").animate({ scrollTop: x.top + quizheight - 20}, 1000);
            } else {
                $("html, body").animate({ scrollTop: x.top + quizheight - 40}, 1000);
            }
            var questionId = $(this).attr('id');
            var split = questionId.split(":");
            var splitAgian = split[1].split("_");
            var result = '#question-' + split[0].slice(1) + '-' + splitAgian[0];
            for(var i = 1; i <= $('a.qnbutton').length; i++) {
            var elment = 'a#quiznavbutton' + i;
            if($(elment).attr('href') == '#') {
                $(elment).addClass('answersaved').removeClass('notyetanswered');
            } else if($(elment).attr('href') == result) {
                $(elment).addClass('answersaved').removeClass('notyetanswered');
            }
        }
        })
        $('.qtype_multichoice_clearchoice').click(function() {
            var elm = $(this).attr('id');
            var splitElm = elm.split(":");
            var splitElmAgian = splitElm[1].split("_");
            var result = 'a#quiznavbutton' + splitElmAgian[0];
            $(result).addClass('notyetanswered').removeClass('answersaved');
        })
    }
}); 

require(['theme_moove/general']);

require(['theme_moove/focusmod']);

require(['theme_moove/course_menu']);

require(['theme_moove/enrol_course']);

require(['theme_moove/search_autocomplete']);

require(['theme_moove/kendo_translate']);

require(['theme_moove/menu_left']);

require(['theme_moove/chatbot']);

var id = $('.new-detail-chat').attr('data');
$('.new-detail-chat').load('/local/newsvnr/ajax/pagination_comment.php?discussionid='+id);
{{/js}}
<script type="text/javascript">
    function setPositionWindow(gridname,top) {
        var windowheight = $(window).scrollTop();
        $(gridname).closest(".k-window").css({
            top: windowheight + top  
        });
    }
    function getSelectRow(gridname) {
        var myGrid = $(gridname).getKendoGrid();
        var selectedRows = myGrid.select();
        var arrObject = [];
        for (var i = 0; i < selectedRows.length; i++) {
            arrObject.push(myGrid.dataItem(selectedRows[i]));
        }
        return arrObject;
    }
    var setCookie = function(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    var getCookie = function(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
