{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{{ output.standard_head_html }}}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    {{! <meta name="referrer" content="no-referrer"> }}
<style type="text/css">
    @media(max-width: 576px) {
        #page-mod-assign-view .ygtvcell.ygtvcontent .fa-cloud-download {
            display: block !important;
        }
        .dot-desktop {
            display: none !important;
        }
    }
    #page-mod-assign-view .ygtvcell.ygtvcontent .fa-cloud-download {
        display: none;
    }
    #page-mod-quiz-edit ul.slots li.section li.activity .mod-indent-outer {
        align-items: center;
    }
    .dot-desktop {
        display: contents;
    }
    #page-mod-quiz-edit ul.slots li.section li.activity .editing_move i {
        margin-top: 3px;
    }
    #page-mod-quiz-edit.select-multiple input.select-multiple-checkbox[type="checkbox"] {
        display: none !important;
    }
    #page-mod-quiz-edit .selectmultiplecommand {
        display: inline-block !important;
    }
    #page-mod-quiz-edit #selectmultiplecommand {
        display: none;
    }
    #page-mod-quiz-edit .mod_quiz-edit-action-buttons {
        display: flex;
        align-items: center;
    }
    #page-mod-quiz-edit .mod_quiz-edit-action-buttons #selectmultiplecancelcommand[value="Cancel"] { 
        display: none;
    }
    #page-mod-quiz-edit .section-heading .instancesection {
        max-width: 100%;
        font-size: 16px;
    }
    #page-question-category .category {
        padding: 1.25rem;
    }
    #page-mod-quiz-edit #selectmultiplecancelcommand {
        display: none;
    }
    #page-enrol-index #focus-mod {
        display: none;
    }
    #page-enrol-index .alert.alert-error {
        display: inline-flex;
    }
</style>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.material.mobile.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{{! <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> }}
{{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" /> }}
{{! <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script> }}
{{{output.get_js_moove}}}
</head>
<body {{{ bodyattributes }}}>
<div id="standard-iframe">   
{{> core/local/toast/wrapper}}
<a id="return-to-top" title="{{#str}}gotop, theme_moove{{/str}}" data-placement="left"><i class="fa fa-arrow-up"></i></a>
{{#chatbotelearning}}
<a id="chatbot-icon" title="Chatbot" data-placement="left"><i class="fa fa-weixin"></i></a>
<div class="mini-popup-chatbot">
    Hi! 🤖 Tôi có thể giúp gì bạn?
    <span id="close-mini-popup-chatbot">
        <svg width="10" height="10" viewBox="0 0 2000 2000" xmlns="http://www.w3.org/2000/svg">
            <path d="M1490 1245q0 40-24 68l-136 136q-24 24-68 24t-68-28l-294-294-294 294q-24 24-68 24t-68-28l-136-136q-24-24-24-68t24-68l294-294-294-294q-24-24-24-68t24-68l136-136q24-24 68-24t68 28l294 294 294-294q24-24 68-28t68 28l136 136q28 24 24 68t-24 68l-294 294 294 294q24 24 24 68z" fill="#d4d4d4">
            </path>
        </svg>
    </span>
</div>
{{>theme_moove/fp_chatbot}}
{{/chatbotelearning}}
<div class="modal123"></div>
{{# hasopenmenu}}
    <div class="check-menu slide-nav-toggle">
{{/ hasopenmenu}}
{{^ hasopenmenu}}
    <div class="check-menu">
{{/ hasopenmenu}}
        <div class="all-header">
            {{>theme_moove/header}}
        </div>

        <div class="fixed-sidebar-left">
            <div class="slimScrollDiv">
                <ul class="nav navbar-nav side-nav nicescroll-bar">
                    {{{output.right_sidebar_menu}}}
                    {{# flatnavigation }}
                        {{#showdivider}}
                            <li><hr class="light-grey-hr mb-10"></li>
                            <li class="navigation-header"><i class="fa fa-ellipsis-h"></i><span>{{#str}}admin,theme_moove{{/str}}</span></li>
                            <li class="menu-link" data-key="{{key}}" id=''><a class ="nav-active" href="{{{action}}}"><i class="{{{class}}} mr-3"></i>{{{text}}}</a></li>
                        {{/showdivider}}
                    {{/ flatnavigation }}
                </ul>
            </div>
        </div>
    </div>
{{# hasopenmenu}}
    <div id="page-wrapper" class="slide-nav-toggle">
{{/ hasopenmenu}}
{{^ hasopenmenu}}
    <div id="page-wrapper">
{{/ hasopenmenu}}
{{{ output.standard_top_of_body_html }}}
