<div class="admininfos">
    {{{ output.mydashboard_user_header }}}

    <div class="row" style="padding-right: 6px;
    padding-left: 6px;">

      <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-1">
              <div class="card">
              <div class="card-body">
              <div class="inner">
                <h3>{{{totalactiveusers}}} / {{{totalsuspendedusers}}}</h3>

                <p>{{#str}}totalusers, theme_moove{{/str}}</p>
              </div>
              <div class="icon">
                <i class="slicon-people"></i>
              </div>
            </div>
          </div>
            </div>
          </div>
          <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-2">
            <div class="card">
            <div class="card-body">
            <div class="inner">
              <h3>{{{totalcourses}}}</h3>

              <p>{{#str}}totalcourses, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="slicon-graduation"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-3">
            <div class="card">
            <div class="card-body">
            <div class="inner">
              <h3>{{{totalactivecourse}}}</h3>

              <p>{{#str}}totalactivecourse, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="slicon-puzzle"></i>
            </div>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-4">
            <div class="card">
            <div class="card-body">
            <div class="inner">
              <h3>{{{onlineusers}}}</h3>

              <p>{{#str}}onlineusers, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-plug"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
    </div>
</div>
