{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/columns2

    Admin time setting template.

    Moove 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
         "main_content": "<h1>Headings make html validators happier</h1>"
        },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "sidepreopen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{#hasportal}}
    {{>theme_moove/portal_inc_start}}
{{/hasportal}}
{{^hasportal}}
    {{>theme_moove/inc_start}}
{{/hasportal}}

<div id="page" class="container-fluid">

    <div id="page-content" class="row">
        <div id="region-main-box" class="col-12">
            <section id="region-main">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-xl-3 mt-3 profile-width">
                        <div class="card user-card profile position-fixed">
                            <div class="card-body">
                                {{#user}}
                                    <div class="d-flex">
                                        <div class="mr-auto"></div>
                                        {{{ output.context_header_settings_menu }}}
                                    </div>
                                    <div class="profilepic mb-3">
                                        <img src="{{profilepicture}}" alt="{{{firstname}}} {{{lastname}}}">
                                    </div>
                                    <h3 class="font-bold black">{{{firstname}}} {{{lastname}}}</h3>
                                {{/user}}
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-around">
                                    <div><h5 class="font-bold text-center black">{{{totalcourse}}}</h5><p class="grey">{{#str}}course, local_newsvnr{{/str}}</p></div>
                                    <div><h5 class="font-bold text-center black">{{{totalforumpost}}}</h5><p class="grey">{{#str}}forum, local_newsvnr{{/str}}</p></div>
                                    <div><h5 class="font-bold text-center black">{{{totalblog}}}</h5><p class="grey">Blog</p></div>
                                </div>
                                <div class="d-flex contact button-profile">
                                    {{#headerbuttons}}
                                        <a
                                            role="button"
                                            href="{{{url}}}"
                                            class="{{{class}}}"
                                            {{#linkattributes}}
                                            id="{{{id}}}"
                                            data-userid="{{{data-userid}}}"
                                            data-is-contact="{{{data-is-contact}}}"
                                            {{/linkattributes}}
                                        >
                                            <span>
                                                <i class="{{{icon}}}" aria-hidden="true" title="{{{title}}}" aria-label="{{{title}}}"></i>
                                                <span class="header-button-title">{{{title}}}</span>
                                            </span>
                                        </a>
                                    {{/headerbuttons}}
                                    {{^headerbuttons}}
                                        <a role="button" href="{{{editprofile}}}">
                                            <span>
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                <span class="header-button-title">Sửa thông tin</span>
                                            </span>
                                        </a>
                                    {{/headerbuttons}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-xl-9 mt-3">
                        <div class="card profile" style="min-height: 450px">
                            <div class="card-body">
                                <ul class="nav-tabs nav mb-3" tab="mypublic-profile">
                                    <li class="nav-item" data-key="intro"><a href="#intro" data-toggle="tab" class="nav-link active" >{{#str}}intro, local_newsvnr{{/str}}</a></li>
                                    {{# hascourses }}
                                        <li class="nav-item" data-key="course"><a href="#course" data-toggle="tab" class="nav-link" >{{#str}}courses{{/str}}</a></li>
                                    {{/ hascourses }}
                                    <li class="nav-item" data-key="competencyplan"><a href="#competencyplan" data-toggle="tab" class="nav-link" >{{#str}}competencyplans, theme_moove{{/str}}</a></li>
                                    <li class="nav-item" data-key="blog"><a href="#blog" data-toggle="tab" class="nav-link">Blog</a></li>
                                    <li class="nav-item" data-key="forum"><a href="#forum" data-toggle="tab" class="nav-link" >{{#str}}forum, local_newsvnr{{/str}}</a></li>
                                    {{#isadmin}}
                                    <li class="nav-item" data-key="details"><a href="#details" data-toggle="tab" class="nav-link">{{#str}}admin,local_newsvnr{{/str}}</a></li>
                                    {{/isadmin}}    
                                </ul>
                                <div class="tab-content" tab="mypublic-profile">
                                    <div data="intro" id="intro" class="tab-pane fadein active">
                                        <div class="d-flex"><p class="grey mr-1">Email: </p><p class="text-title black">{{{email}}}</p></div>
                                        <div class="d-flex"><p class="grey mr-1">{{#str}}country, local_newsvnr{{/str}}: </p><p class="text-title black">{{{country}}}</p></div>
                                        <div class="d-flex"><p class="grey mr-1">{{#str}}firstaccess, local_newsvnr{{/str}}: </p><p class="text-title black">{{{firstaccess}}}</p></div>
                                        <div class="d-flex"><p class="grey mr-1">{{#str}}lastaccess, local_newsvnr{{/str}}: </p><p class="text-title black">{{{lastaccess}}}</p></div>
                                        <div class="d-flex"><p class="grey mr-1">{{#str}}badgeclaim, local_newsvnr{{/str}}: </p><p class="text-title black">{{{totalbadge}}}</p></div>
                                        {{# hasbadge}}
                                        <ul class="badges text-left">
                                            {{# badges}}
                                                <li><a target="_blank" href="{{{url}}}">{{{image}}}<span class="badge-name">{{{name}}}</span></a></li>
                                            {{/ badges}}
                                        </ul>
                                        {{/ hasbadge}}
                                    </div>
                                    {{# hascourses }}
                                    <div data="course" id="course" class="tab-pane fade">
                                        <div class="row">
                                        {{# courses }}
                                            <div class="col-6 col-xl-3 col-lg-4 col-md-6 mt-2">
                                                <div class="post-slide6">
                                                    <div class="post-img">
                                                        {{{courseimage}}}
                                                        <div class="post-info">
                                                            <ul class="category">
                                                                <li>{{#str}}countstudent, local_newsvnr{{/str}} <a href="#">{{countstudent}}</a></li>
                                                                <li>{{#str}}teachername, local_newsvnr{{/str}} <a href="#">{{fullnamet}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="post-review">
                                                        <span class="icons">
                                                               {{{imageteacher}}}
                                                        </span>
                                                        <h3 class="post-title"><a href="{{link}}" title="{{fullname}}">{{fullname}}</a></h3>
                                                        <p class="post-teachername">{{fullnamet}}</p>
                                                        <p class="post-enrolmethod">
                                                            {{{enrolmethod}}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/ courses }}
                                        </div>
                                    </div>
                                    {{/ hascourses }}
                                    <div data="competencyplan" id="competencyplan" class="tab-pane fade">
                                        <div class="button-profile float-right">
                                        <a role="button" target="_blank" href="{{linkcompetencyplan}}" class="btn btn-block btn-outline-primary">
                                            <span>
                                                <i class="fa fa-cogs"></i>
                                                <span class="header-button-title">Learning plans</span>
                                            </span>
                                        </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        {{#competencyplans}}
                                        <div class="card">
                                            <div class="card-body d-flex justify-content-between pb-0 pt-0 align-items-center" style="border-left:3px solid #00a65a;">
                                                <div>
                                                    <a class="card-title" href="{{config.wwwroot}}/admin/tool/lp/plan.php?id={{{id}}}"><h5>{{{name}}}</h5></a>
                                                    <p class="card-text grey">{{#str}}deadline,local_newsvnr{{/str}}: {{duedate}}</p>
                                                </div>
                                                <div class="text-right">
                                                    <div class="progress-circle custom" data-progress="{{{proficientcompetencypercentage}}}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        {{/competencyplans}}
                                    </div>
                                    <div data="blog" id="blog" class="tab-pane fade">
                                        {{# isuser}}
                                        <div class="button-profile float-right">
                                            <a role="button" target="_blank" href="{{linkaddblog}}" class="btn btn-block btn-outline-primary">
                                                <span>
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    <span class="header-button-title">{{#str}}addblog,local_newsvnr{{/str}}</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="clearfix mb-1"></div>
                                        {{/ isuser}}
                                        <div class="user-blog-post ml-2 mr-2">
                                            {{{bloglist}}}
                                        </div>
                                    </div>
                                    <div data="forum" id="forum" class="tab-pane fade">
                                        <div id="load-forumpost"></div>
                                        <div id="pagination"></div>
                                    </div>
                                    <div data="details" id="details" class="tab-pane">
                                        {{#hasregionmainsettingsmenu}}
                                            <div class="region_main_settings_menu_proxy"></div>
                                        {{/hasregionmainsettingsmenu}}
                                        {{{output.course_content_header}}}
                                        {{{output.main_content}}}
                                        {{{output.activity_navigation}}}
                                        {{{output.course_content_footer}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{{#hasportal}}
    {{>theme_moove/portal_inc_end}}
{{/hasportal}}
{{^hasportal}}
    {{>theme_moove/inc_end}}
{{/hasportal}}
