    {{#hasblocks}}
        <i id="sidepreopen-control"
            aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
            aria-controls="sidepre-blocks"
            data-action="toggle-drawer"
            data-side="right"
            data-preference="sidepre-open"
            title="{{#str}} showhideblocks, theme_moove {{/str}}">
        </i>

        <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
            {{{ sidepreblocks }}}
        </section>
    {{/hasblocks}}

    {{{ output.standard_after_main_region_html }}}

    
</div><!-- Ends .page-wrapper -->

{{{ output.standard_end_of_body_html }}}


</body>
</html>

{{#js}}
 require.config({
    paths: {
      "kendo.all.min": "/local/newsvnr/js/kendo.all.min",
      "dttable": "/local/newsvnr/js/datatable.min",
    }
});

require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});

require(['theme_moove/metismenu', 'jquery'], function(metisMenu, $) {

    $(".metismenu").metisMenu();

});


require(['jquery'], function($) {
    var iconsearch = document.querySelector('.moove-search-input .slicon-magnifier');
    var btnclosesearch = document.querySelector('.search-input-form .close-search');
    var searchinputform = document.querySelector('.moove-search-input');
    if (iconsearch) {

        var togglesearchinputform = function() {
            searchinputform.classList.toggle('expanded');
        }

        iconsearch.onclick = togglesearchinputform;
        btnclosesearch.onclick = togglesearchinputform;
    }
    $('[data-region="drawer-toggle"]').click(function(){
        setTimeout(function(){
                $('#page').find('.dataTable[role="grid"][aria-describedby]').DataTable().columns.adjust().draw();

        },500);
       
    });
    var courseurl = '/course/view.php';
    if($('[data-region="drawer"]')) {
        $('[data-region="drawer"]').removeClass('closed');
        $('[data-region="drawer"]').addClass('open');
    }
   $(document).ready(function() {
        const regex = /http:\/\/.*\/(.*)\//g;
        const match = regex.exec(window.location.href);
        if(match) {
            $(".nav-active").each(function() {
                var url = $(this).attr("href");
                if(url == match.input) {
                    $(this).addClass("active-nav");
                }
            });
        }
        else {
            $(".nav-active:first").addClass("active-nav");
        }
    });
    $(function() {
        $('[data-key=addblock]').click(function(e){
            e.preventDefault();
        });
        $('.usertour').addClass('d-none');
    });
}); 
    var quizblock = $('#page-mod-quiz-attempt');
    if(quizblock.length > 0)
        $('body').addClass('drawer-open-right')

    
    ///////////js course menu//////////////
    var path = window.location.href;
    $('.nav-tabs.course li a').each(function() {
        if(this.href === path){
            $(this).parent().addClass('active');
        }
        if(this.href.indexOf('badge') > 0 && path.indexOf('badge') > 0) {
            $(this).parent().addClass('active');
        }
    })

    if(path.indexOf('mod')>0 || path.indexOf('backup')>0) {

        $('.nav-tabs.course li a').css({'display':'none'});
    }

    if($('.nav-tabs.course li').hasClass('active')){

    }

    else {
        if($('.nav-tabs.course li:first').hasClass('active')) {
        }
        else {
            $('.nav-tabs.course li:first').addClass('active');
        }
    }
    $('.nav-tabs.course li:first a').html('Tổng quan khóa học')
    $('.nav-tabs.course li:last').css({'display':'none'});
    //////////js grader////////////
    $('.grade-navigation ul:first').removeClass('mb-3');
    if(path.indexOf('mod/quiz/') > 0) {
        $('.m-t-2.m-b-1.row').css({'display':'none'});
    }
    $('.course-content .nav-tabs').append("<ul class='nav-item load-more'><a class='nav-link first'>Thêm<i class='fa fa-caret-down' aria-hidden='true'></i></a><div class='menu-show'></div></ul>");
    $(window).resize(function() {
        if($('.load-more').length) {

        }
        else {
            $('.course-content .nav-tabs .nav-tabs').append("<ul class='nav-item load-more'><a class='nav-link first'>Thêm<i class='fa fa-caret-down' aria-hidden='true'></i></a><div class='menu-show'></div></ul>");
        }
        var width = $(window).width();
        if (width <= 768){
            $('.course-content .nav-tabs li:lt(2)').show();
            $('.menu-show').append($('.course-content .nav-tabs li:gt(1)'));
        }
        else {
            $(".course-content .nav-tabs").load(location.href + " .course-content .nav-tabs");
        }
    })
    if (window.matchMedia('(max-width: 768px)').matches) {
            $('.course-content .nav-tabs li:lt(2)').show();
            $('.menu-show').append($('.course-content .nav-tabs li:gt(1)'))
    }
    if($('.menu-show li a').hasClass('active')){
        $('.load-more .first').addClass('active');
    }
{{/js}}
