    {{#hasblocks}}
        <i id="sidepreopen-control"
            aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
            aria-controls="sidepre-blocks"
            data-action="toggle-drawer"
            data-side="right"
            data-preference="sidepre-open"
            title="{{#str}} showhideblocks, theme_moove {{/str}}">
        </i>

        <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
            {{{ sidepreblocks }}}
        </section>
    {{/hasblocks}}

    {{{ output.standard_after_main_region_html }}}

    
</div><!-- Ends .page-wrapper -->

{{{ output.standard_end_of_body_html }}}


</body>
</html>

{{#js}}
 require.config({
    paths: {
      "kendo.all.min": "/local/newsvnr/js/kendo.all.min",
      "dttable": "/local/newsvnr/js/datatable.min",
    }
});

require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});

require(['theme_moove/metismenu', 'jquery'], function(metisMenu, $) {

    $(".metismenu").metisMenu();

});


require(['jquery'], function($) {
    var iconsearch = document.querySelector('.moove-search-input .slicon-magnifier');
    var btnclosesearch = document.querySelector('.search-input-form .close-search');
    var searchinputform = document.querySelector('.moove-search-input');
    if (iconsearch) {

        var togglesearchinputform = function() {
            searchinputform.classList.toggle('expanded');
        }

        iconsearch.onclick = togglesearchinputform;
        btnclosesearch.onclick = togglesearchinputform;
    }
    $('[data-region="drawer-toggle"]').click(function(){
        setTimeout(function(){
                $('#page').find('.dataTable[role="grid"][aria-describedby]').DataTable().columns.adjust().draw();

        },500);
       
    });
    var courseurl = '/course/view.php';
    if($('[data-region="drawer"]')) {
        $('[data-region="drawer"]').removeClass('closed');
        $('[data-region="drawer"]').addClass('open');
    }
   $(document).ready(function() {
        const regex = /http:\/\/.*\/(.*)\//g;
        const match = regex.exec(window.location.href);
        if(match) {
            $(".nav-active").each(function() {
                var url = $(this).attr("href");
                if(url == match.input) {
                    $(this).addClass("active-nav");
                }
            });
        }
        else {
            $(".nav-active:first").addClass("active-nav");
        }
    });
}); 
    var quizblock = $('#page-mod-quiz-attempt');
    if(quizblock.length > 0)
        $('body').addClass('drawer-open-right')



    //////////course menu//////////////
    var path = window.location.href;
    $('.nav-tabs.course li a').each(function() {
        if(this.href === path){
            $(this).parent().addClass('active');
        }
        if(this.href.indexOf('badge') > 0 && path.indexOf('badge') > 0) {
            $(this).parent().addClass('active');
        }
    })
    if(path.indexOf('mod')>0 || path.indexOf('backup')>0 || path.indexOf('enrol')>0 ) {
        $('#nav-drawer').remove();
    }
    if($('.nav-tabs.course li').hasClass('active')){
    }
    else {
        if($('.nav-tabs.course li:first').hasClass('active')) {
        }
        else {
            $('.nav-tabs.course li:first').addClass('active');
        }
    }
    $('.nav-tabs.course li:first a').html('Tổng quan khóa học')
    $('.nav-tabs.course li:last').css({'display':'none'});
    //////////js grader////////////
    $('.grade-navigation ul:first').removeClass('mb-3');
    if(path.indexOf('mod/quiz/') > 0) {
        $('.m-t-2.m-b-1.row').css({'display':'none'});
    }
    // {{!     /////course_menu_theme_mobile///////// }}
    size_li = $(".course-content .nav-tabs li").length;
    $(window).resize(function() {
        var width = $(window).width();
        if (width <= 768){
            $('.menu-show').append($('.course-content .nav-tabs li:lt('+size_li+')'));
            var active_mb = $('div.menu-show li a.active').attr('title');
            $('.first').html("<i class='fa fa-folder' aria-hidden='true'></i>"+ active_mb + "<i class='fa fa-caret-down' aria-hidden='true'></i>");
        }
        else {
            $(".course-content .nav-tabs").load(location.href + " .course-content .nav-tabs");
        }
    })
    if (window.matchMedia('(max-width: 768px)').matches) {
            $('.menu-show').append($('.course-content .nav-tabs li:lt('+size_li+')'))
            var active_mb = $('div.menu-show li a.active').attr('title');
            $('.first').html("<i class='fa fa-folder' aria-hidden='true'></i>"+ active_mb + "<i class='fa fa-caret-down' aria-hidden='true'></i>");
    }
    $(".nav-item.load-more" ).click(function() {     
    if($('.menu-show:visible').length)
        $('.menu-show').hide();
    else
        $('.menu-show').show();        
    });
    {{! ////////course_menu_mobile/////////// }}
    $("<div class='arrow-next'><i class='fa fa-angle-right'style='font-size:23px'></i></div>").insertBefore('#nav-drawer');
    $("<div class='arrow-prev'><i class='fa fa-angle-left'style='font-size:23px'></i></div>").insertBefore('#nav-drawer');
    $('.arrow-next').click(function(event) {
        var pos = $('#nav-drawer').scrollLeft() + 300;
        $('#nav-drawer').animate({scrollLeft:pos},400);
    });
    $('.arrow-prev').click(function(event) {
        var pos = $('#nav-drawer').scrollLeft() - 300;
        $('#nav-drawer').animate({scrollLeft:pos},400);
    });
    $('#nav-drawer').scroll(function () {
        var $elem=$('#nav-drawer');
        var newScrollLeft = $elem.scrollLeft(),
            width=$elem.outerWidth(),
            scrollWidth=$elem.get(0).scrollWidth;
        if (scrollWidth-newScrollLeft==Math.round(width)) {
            $('.arrow-next').css({'display':'none'});
        }
        else {
            $('.arrow-next').css({'display':'block'});
        }
        if(newScrollLeft > 0){
            $('.arrow-prev').css({'display':'block'});
        }
        else {
            $('.arrow-prev').css({'display':'none'});
        }
    });

{{!     ///menu bottom mobile//// }}
    var path = window.location.href;
    $('.toolbar ul li a').each(function() {
        if(this.href === path){
            $(this).addClass('active');
        }
    });
{{/js}}