<iframe id="iFrame" src="https://docs.google.com/viewer?url=http://221.132.17.180:8089/pluginfile.php/1381/mod_resource/content/2/MauQuyetDinhCongTac.xlsx&embedded=true" class="center-text" width="{{#width}}{{width}}{{/width}}{{^width}}800{{/width}}" height="{{#height}}{{height}}{{/height}}{{^height}}600{{/height}}">
</iframe>
 <span id="time" class="d-none">00:00</span>