<iframe src="https://docs.google.com/viewer?url={{{pluginfileurl}}}&embedded=true" class="center-text" width="{{#width}}{{width}}{{/width}}{{^width}}800{{/width}}" height="{{#height}}{{height}}{{/height}}{{^height}}600{{/height}}"></iframe>
