<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<div class="d-flex mb-2 justify-content-between align-items-center" style="padding:1rem;background: white">
	<div class="page-header-headings">
		<h2>Báo cáo hồ sơ năng lực học viên</h2>
	</div>
	<div class="d-flex">
		<div class="report-button" id="dropdownMenuButton" style="background: #2d5b7c">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
		<div class="report-button" id="exporttable">
			<i class="fa fa-file-excel-o" aria-hidden="true"></i>
		</div>
		<div class="report-button" id="resettable">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</div>
		<div class="report-button">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
		</div>
	  	<div class="dropdown-menu user-report d-none" aria-labelledby="dropdownMenuButton">
	        <ul class="nav-tabs nav multi-tab" tab="searchuser" style="padding: 0 25px;">
	            <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-key="account">Thông tin hồ sơ</a></li>
	            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="department">Phòng ban</a></li>
	        </ul>
	        <div class="tab-content" tab="searchuser" style="padding: 1.25rem">
	            <div data="account" class="tab-pane active">
	            	<div class="row">
	                	<div class="form-group col-md-6">
						    <label>Tên học viên</label>
						    <input placeholder="Nhập tên học viên" class="form-control mt-1" id="username">
						</div>
						<div class="form-group col-md-6">
							<label >Năng lực</label>
						    <input class="form-control mt-1" id="competency">
						</div>
		              	<div class="form-group col-md-6">
						    <label>Kế hoạch đào tạo</label>
						    <input class="form-control mt-1" id="competencyplan">
						</div>
						<div class="form-group col-md-6">
							<label >Khóa học</label>
						    <input class="form-control mt-1" id="course">
						</div>
					</div>
	                <div class="text-right">
	            		<button type="button" class="btn btn-primary" id="searchaccount">Tìm kiếm</button>
	            	</div>
	            </div>
	            <div data="department" class="tab-pane">
	            	<div class="row">
	                	<div class="form-group col-md-6">
						    <label>Loại phòng ban</label>
						    <input class="form-control mt-1" id="orgstructure_category">
						</div>
						<div class="form-group col-md-6">
							<label >Phòng ban</label>
						    <input class="form-control mt-1" id="orgstructure">
						</div>
		              	<div class="form-group col-md-6">
						    <label>Chức danh</label>
						    <input class="form-control mt-1" id="orgstructure_jobtitle">
						</div>
						<div class="form-group col-md-6">
							<label >Chức vụ</label>
						    <input class="form-control mt-1" id="orgstructure_position">
						</div>
					</div>
	              	<div class="text-right">
	            		<button type="button" class="btn btn-primary" id="searchorgs">Tìm kiếm</button>
	            	</div>
	            </div>
	        </div>
	  	</div>
	 </div>
</div>
<div id="competency_report" style="padding: 1.25rem"></div>
{{#js}}
	$('#dropdownMenuButton').click(function() {
		$('.dropdown-menu').toggleClass('d-none');
	})
{{/js}}