<div class="mb-2"><button type="submit" id="btn-emailtemplate" class="btn btn-secondary">{{#str}}addnewtemplateemail, local_newsvnr{{/str}}</button><a href="/../../filter/shortcodes/index.php" target="_blank"><button id="btn-listshortcode" class="btn btn-secondary pull-right" >Danh sách shortcode</button></a></div>
<div class="mb-2"><span style="text-decoration: underline;color: red">Hướng dẫn</span>: <span>Cách thêm shortcode theo cú pháp [shortcode_key]. Nhấn vào nút danh sách shortcode để xem danh sách shortcode key</span></div>
<div id="modal-emailtemplate">
    <form id="form-emailtemplate"></form>
</div>
<div id="email_management_grid"></div>