<ul class="nav-tabs nav" id="exam-tab">
	<li class="nav-item " data-key="managesubjectexam">
	    <a class="nav-link active" href="#managesubjectexam" data-toggle="tab">Quản lý môn thi</a>
	</li>
	<li class="nav-item" data-key="manageexam">
        <a class="nav-link" href="#manageexam" data-toggle="tab">Quản lý kì thi</a>
	</li>
</ul>
<div id="exam-content" class="tab-content">
	<div class="tab-pane fadein active" id="managesubjectexam">
		<button type="submit" id="btn-subjectexam" value="Tạo môn thi" class="btn btn-secondary mt-1">Tạo môn thi</button>
        <div id="subjectexam-grid" kendo-grid k-options="subjectexamgrid"></div>
	</div>
	<div class="tab-pane fadein" id="manageexam">
		<button type="submit" id="btn-exam" value="Tạo kì thi" class="btn btn-secondary mt-1">Tạo kì thi</button>
	</div>
</div>
{{! Modal kì thi }}
<div class="modal" id="modal-exam">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tạo kì thi</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
    
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{{! Modal kì thi }}
<form id="md-form-exam">
<div class="modal" id="modal-exam">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tạo kì thi</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group required">
          <label>Loại kì thi</label>
          <input id="exam-type" name="exam-type" required>
          {{! <select class="form-control" id="exam-type" name="exam-type">
            <option value="0">Bắt buộc</option>
            <option value="1">Tự do</option>
          </select> }}
        </div>
        <div class="form-group required">
            <label>Tên:</label>
            <input type="text" class="form-control" id="exam-name" name="exam-name" required maxlength="15">
        </div>
        <div class="form-group required">
            <label>Mã:</label>
            <input type="text" class="form-control" id="exam-code" name="exam-code" required>
        </div>
        <div class="form-group required">
            <label>Môn thi</label>
            <input type="text" class="form-control" id="exam-subjectexams" name="exam-subjectexams" required>
        </div>
        <div class="form-group">
            <label>Thời gian bắt đầu</label>
            <input type="text" class="form-control" id="exam-datestart" name="exam-datestart" required>
        </div>
        <div class="form-group">
            <label>Thời gian kết thúc</label>
            <input type="text" class="form-control" id="exam-dateend" name="exam-dateend" required>
        </div>
        <div class="form-group">
            <label>Mô tả:</label>
            <textarea class="form-control" rows="5" id="exam-description"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check-inline">
                  <label class="form-check-label">
                    Hiện thị<input type="checkbox" class="form-check-input ml-2" value="" checked id="exam-visible">
                  </label>
            </div>
        </div>

        <input type="hidden" class="form-control" id="exam-id" name="exam-id" required maxlength="15">
        <input type='reset' id='exam-resetform' class="d-none" value='reset'/>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="exam-submit">Tạo kì thi</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</form>
{{! Modal môn thi }}
<form id="md-form-subjectexam">
<div class="modal" id="modal-subjectexam">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tạo môn thi</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group required">
          <label>Tên:</label>
        <input type="text" class="form-control" id="subjectexam-name" name="subjectexam-name" required maxlength="15">
      </div>
      <div class="form-group required">
          <label>Mã:</label>
        <input type="text" class="form-control" id="subjectexam-code" name="subjectexam-code" required>
      </div>
      <div class="form-group required">
          <label>Tên viết tắt:</label>
        <input type="text" class="form-control" id="subjectexam-shortname" name="subjectexam-shortname" required>
      </div>
        <div class="form-group">
            <label>Mô tả:</label>
            <textarea class="form-control" rows="5" id="subjectexam-description"></textarea>
        </div>
      <div class="form-group">
        <div class="form-check-inline">
          <label class="form-check-label">
            Kích hoạt<input type="checkbox" class="form-check-input ml-2" value="" checked id="subjectexam-visible">
          </label>
      </div>
    </div>

        <input type="hidden" class="form-control" id="subjectexam-id" name="subjectexam-id" required maxlength="15">
        <input type='reset' id='subjectexam-resetform' class="d-none" value='reset'/>
   
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="subjectexam-submit">Tạo môn thi</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</form>
{{! Ghi danh học viên }}
<form id="md-form-enroll">
<div class="modal" id="modal-enroll">
  <div class="modal-dialog" style="max-width: 90%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ghi danh học viên</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{! <ul class="nav-tabs nav" id="enroll-tab">
            <li class="nav-item " data-key="enrolluser">
                <a class="nav-link active" href="#enrolluser" data-toggle="tab">Ghi danh người dùng</a>
            </li>
            <li class="nav-item" data-key="manageenrolluser">
                <a class="nav-link" href="#manageenrolluser" data-toggle="tab">Danh sách người dùng đã ghi danh</a>
            </li>
        </ul>
        <div id="enroll-content" class="tab-content">
            <div class="tab-pane fadein active" id="enrolluser"> }}
                <div class="form-group required">
                    <label>Chọn ngươi dùng:</label>
                    <input type="text" class="form-control" id="enroll-user" name="enroll-user">
                </div>
                <div class="form-group required">
                    <label>Chọn nhóm người dùng:</label>
                    <input type="text" class="form-control" id="enroll-cohort" name="enroll-cohort">
                </div>
                <div class="form-group required">
                    <label>Phân vai trò:</label>
                    <input type="text" class="form-control" id="enroll-role" name="enroll-role" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mb-3" id="enroll-submit">Thêm người dùng</button>
                </div>
                <div id="manageenrolluser-grid"></div>
           {{!  </div>
            <div class="tab-pane fadein" id="manageenrolluser">
                <h2>quản lý ghi danh</h2>
            </div>
        </div> }}

        <input type="hidden" class="form-control" id="enroll-id" name="enroll-id" required maxlength="15">
        <input type='reset' id='enroll-resetform' class="d-none" value='reset'/>
   
      </div>

      <!-- Modal footer -->
      {{! <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="enroll-submit">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div }}
    </div>
  </div>
</div>
</form>
{{! Chỉnh sửa học viên trong kì thi }}
<form id="md-form-enroll-detail">
<div class="modal" id="modal-enroll-detail">
  <div class="modal-dialog" style="max-width: 70%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa ghi danh học viên</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <div class="form-group required">
                <label>Kì thi:</label>
                <input type="text" class="form-control" id="enrolluser-exam-detail" name="enrolluser-exam-detail">
            </div>
            <div class="form-group required">
                <label>Vai trò hiện tại:</label>
                <input type="text" class="form-control" id="enrolluser-role-detail" name="enrolluser-role-detail">
            </div>
        

        <input type="hidden" class="form-control" id="enroll-detail-id" name="enroll-detail-id" required maxlength="15">
        <input type='reset' id='enroll-detail-resetform' class="d-none" value='reset'/>
   
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="edit-enroll-submit">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</form>
