<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<div class="full-flex">
	<div class="d-flex">
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" data-href="{{confirm}}" id="" href="javascript:;" data-toggle="modal" data-target="#popup-user-report">Xác nhận</a>
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" id="btn-user-delete" href="javascript:;" >Xóa</a>
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" data-href="{{message}}" id="" href="javascript:;" data-toggle="modal" data-target="#popup-user-report">Gửi tin nhắn</a>
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" data-href="{{display}}" id="" href="javascript:;" data-toggle="modal" data-target="#popup-user-report">Hiện thị trên trang mạng</a>
		<a class="btn btn-secondary mr-2" id="exporttable" href="javascript:;">Xuất</a>
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" data-href="{{password}}" id="" href="javascript:;"data-toggle="modal" data-target="#popup-user-report" >Bắt buộc thay đổi mật khẩu</a>
		<a class="btn btn-secondary mr-2 user-report-fuction disabled" data-href="{{group}}" id="" href="javascript:;" data-toggle="modal" data-target="#popup-user-report">Thêm vào nhóm</a>
	</div>
	<div>
	  	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">Tìm kiếm</button>
	  	<button class="btn btn-secondary" type="button" id="resettable"><i class="fa fa-refresh" aria-hidden="true"></i></button>
	  	<div class="dropdown-menu user-report d-none" aria-labelledby="dropdownMenuButton">
            <ul class="nav-tabs nav multi-tab" tab="searchuser" style="padding: 0 25px;">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-key="account">Thông tin tài khoản</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="department">Phòng ban</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-key="advanced">Tìm kiếm nâng cao</a></li>
            </ul>
            <div class="tab-content" tab="searchuser" style="padding: 1.25rem">
                <div data="account" class="tab-pane active">
                	<div class="row">
                    	<div class="form-group col-md-6">
						    <label>Tên tài khoản</label>
						    <input placeholder="Nhập tên tài khoản" class="form-control mt-1" id="username">
						</div>
						<div class="form-group col-md-6">
							<label >Email xác thực</label>
						    <input placeholder="Nhập email" class="form-control mt-1" id="useremail">
						</div>
		              	<div class="form-group col-md-6">
						    <label>Mã người dùng</label>
						    <input placeholder="Nhập mã người dùng" class="form-control mt-1" id="usercode">
						</div>
						<div class="form-group col-md-6">
							<label >Trạng thái tài khoản</label>
						    <input placeholder="Chọn trạng thái" class="form-control mt-1" id="userstatus">
						</div>
					</div>
					<div class="form-check">
					   <input class="form-check-input" type="checkbox" id="isnotaccess">
					   <label class="form-check-label">Tài khoản chưa bao giờ truy cập</label>
					</div>
					<div class="form-check">
					   <input class="form-check-input" type="checkbox" id="isnotmodify">
					   <label class="form-check-label">Tài khoản chưa bao giờ chỉnh sửa</label>
					</div>
	                <div class="text-right">
	            		<button type="button" class="btn btn-primary" id="searchaccount">Tìm kiếm</button>
	            	</div>
                </div>
                <div data="department" class="tab-pane">
                	<div class="row">
                    	<div class="form-group col-md-6">
						    <label>Loại phòng ban</label>
						    <input class="form-control mt-1" id="orgstructure_category">
						</div>
						<div class="form-group col-md-6">
							<label >Phòng ban</label>
						    <input class="form-control mt-1" id="orgstructure">
						</div>
		              	<div class="form-group col-md-6">
						    <label>Chức danh</label>
						    <input class="form-control mt-1" id="orgstructure_jobtitle">
						</div>
						<div class="form-group col-md-6">
							<label >Chức vụ</label>
						    <input class="form-control mt-1" id="orgstructure_position">
						</div>
					</div>
	              	<div class="text-right">
	            		<button type="button" class="btn btn-primary" id="searchorgs">Tìm kiếm</button>
	            	</div>
                </div>
                <div data="advanced" class="tab-pane">
                	<div class="row">
                    	<div class="form-group col-md-6">
						    <label>Vai trò hệ thống</label>
						    <input class="form-control mt-1" id="system_role">
						</div>
						<div class="form-group col-md-6">
							<label >Vai trò trong khóa học</label>
							<div class="form-row">
								<div class="col">
							    	<input class="form-control mt-1" id="course_role">
							    </div>
							    <div class="col">
							    	<input class="form-control mt-1" id="list_course">
							    </div>
							</div>
						</div>
{{! 		              	<div class="form-group col-md-6">
						    <label>Thời gian truy cập hệ thống</label>
							<div class="form-row">
								<div class="col">
							    	<input class="form-control mt-1" id="exampleInputPassword1">
							    </div>
							    <div class="col">
							    	<input class="form-control mt-1" id="exampleInputPassword1">
							    </div>
							</div>
						</div> }}
						<div class="form-group col-md-12">
							<label >Truy cập lần đầu tiên</label>
							<div class="row">
								<div class="col-md-6">
							    	<input placeholder="Từ ngày" class="form-control mt-1" id="start_timeaccess">
							    </div>
							    <div class="col-md-6">
							    	<input placeholder="Đến ngày" class="form-control mt-1" id="end_timeaccess">
							    </div>
							</div>
						</div>
                    </div>
    
	                <div class="text-right">
	            		<button type="button" class="btn btn-primary" id="searchadvance">Tìm kiếm</button>
	            	</div>
                </div>

            </div>
	  	</div>
	</div>
</div>
<div id="user_report" class="kendo-custom kendo-user-report mt-2"></div>
<div class="modal" id="popup-user-report">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			    <h4 class="modal-title"></h4>
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body pd-0">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
{{#js}}
	$('#dropdownMenuButton').click(function() {
		$('.dropdown-menu').toggleClass('d-none');
	})
{{/js}}