
 <div class="container-fluid outline-none" id="suggestcourseslider" tabindex="1">
        <div class="row align-content-start">
                <div id="suggest-course-slider" class="owl-carousel owl-theme">
                   {{#suggestpositioncourse}}
                   {{#newscourse}}
                    <div class="post-slide6">
                    <div class="post-img">
                        {{{courseimage}}}
                        <div class="post-info">
                            <ul class="category">
                                <li>Học viên <a href="#">{{countstudent}}</a></li>
                                <li>Giáo viên <a href="#">{{fullnamet}}</a></li>
                               
                            </ul>
          
                        </div>
                    </div>
                    <div class="post-review">
                        <span class="icons">
                               {{{imageteacher}}}
                        </span>
                        <h3 class="post-title"><a href="{{{link}}}" title="{{fullname}}">{{#shortentext}}60, {{fullname}}{{/shortentext}}</a></h3>
                            <p class="post-teachername">{{#shortentext}}30, {{fullnamet}}{{/shortentext}}</p>
                            <p class="post-description">{{#shortentext}}145, {{summary}}{{/shortentext}}</p>
                    </div>
                </div>
                    {{/newscourse}}
                    {{/suggestpositioncourse}}                
                </div>
        </div>
    </div>
