{{#hascourse}}
 <div class="container-fluid outline-none" id="suggestcourseslider" tabindex="1">
        <div class="row align-content-start">
                <div id="suggest-course-slider" class="owl-carousel owl-theme">
                   {{#suggestpositioncourse}}
                       {{#newscourse}}
                            {{> core_course/coursecard_general }}   
                        {{/newscourse}}
                    {{/suggestpositioncourse}}                
                </div>
        </div>
    </div>
{{/hascourse}}