.container-new{

    margin:0 auto;
   
    
}
.container-new-bottom {
    margin-left: 15%;
    margin-right: 15%;
}
.new-hot-hr {
    background-color: white;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.new-head {
    /*margin-left: 10px; 
    margin-right: 10px;*/
}
.new-head .btn-search{
    margin-left: 15px;
    padding: 0px;
}
.new-head .form-control-size {
   width:700px;
}
.new-head .btn-new{
    margin-left:-15px;
}

.new-hot-body{
    padding-top:15px;
}
.new-hot-body img{
    width:100%;
    max-width:100%;
}
.new-hot-body .new-hot-box{
    padding:1px;
}
.new-hot-body .new-hot-box{
    padding:1px;
}
.new-hot-body .new-hot-box1{
    padding-left:10px;
}
.new-hot-body .new-hot-box >img{
   width:100%;
}

.box-2 carousel-caption{
    padding:0px;
}
.new-hot-body .carousel-inner .carousel-caption {
    background-color:rgba(29, 25, 25, 0.26);
    width: 95%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 265px;
    text-align: left;
}
.new-hot-body .carousel-inner .carousel-caption .new-hot-title{
    text-align: left;
    cursor: pointer;
    color: white;

}

.new-hot-body .carousel-inner .carousel-caption .new-hot-time{
    text-align:left;
    padding-right: 8em;
}
.new-hot-body .carousel-inner .carousel-caption .new-hot-comment-info{
   
    text-align:right;
}
.btn-new-latest{
    padding-top:30px;
}

.new-latest-box {
margin-bottom: 10px;
}
.new-latest-image{
    width:100%;
    height: 162px;

}
.new-latest-body {
    padding-top: 30px;
}
.new-latest-title {
    width:95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#0094ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.new-latest-comment-info{
    color:#0094ff;
    text-align:left;
}

.new-control-size{
    padding-top:30px;
    height:30px;
}
.btn-new-course {
    padding-top: 30px;
    padding-bottom: 30px;
}
.new-list-course {
    /*font-size:25px;
    width:400px;*/
    
    background-color: #a3d1f3;
    padding-left: 10%;
    border-radius: 10px;
}
.new-list-course .fa-bars{
    font-weight: bold;
}
.btn-new-departmental {
    padding-top: 30px;
    padding-bottom: 30px;
}
.resize img{
    width: 100%;
    height:180px;
}
.view-more{
    margin-right: auto;
    padding-top:30px;
    color:#0094ff;
    padding-left:65%;
}
.new-latest-box .new-latest-title:hover,
.new-latest-box .new-latest-title:focus {
      color: #1177d1;
      text-decoration: underline;

}

.link {
    padding: 10px 15px;
    background: transparent;
    border: #bccfd8 1px solid;
    border-left: 0px;
    cursor: pointer;
    color: #607d8b;
    -webkit-transition: .4s ease-in;
}

.link:hover{
    background-color: #0e63ae;
    color: #fff !important;
}


.disabled {
    cursor: not-allowed;
    color: #bccfd8;
}

.current1 {
    background: #0e63ae;
    color: #fff;
}

.first {
    border-left: #bccfd8 1px solid;
}

.question {
    font-weight: bold;
}

.answer {
    padding-top: 10px;
}

#pagination {
    margin-top: 20px;
    padding-top: 30px;
    border-top: #F0F0F0 1px solid;
    padding-bottom: 25px;
    margin: 0 auto;
}

.dot {
    padding: 10px 15px;
    background: transparent;
    border-right: #bccfd8 1px solid;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#overlay div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

.page-content {
    padding: 20px;
}

.pagination-setting {
    padding: 10px;
    margin: 5px 0px 10px;
    border: #bccfd8 1px solid;
    color: #607d8b;
}


/* Desktop
    @media screen and (max-width: 1366px) and (min-width: 768px){
    .new-hot-body .img-1 .carousel-inner {
        height:433px;
    }
}
tablet
@media screen and (max-width: 767px) and (min-width: 501px) {

}
Mobile
@media screen and (max-width: 500px) {
}*/