{{#hascourse}}
 <div class="container-fluid outline-none" id="requiredcourseslider" tabindex="1">
        <div class="row align-content-start">
                <div id="requiredcourse-position-slider" class="owl-carousel owl-theme">
                   {{#requiredpositioncourse}}
                       {{#newscourse}}
                            {{> core_course/coursecard_general }}   
                        {{/newscourse}}
                    {{/requiredpositioncourse}}                
                </div>
        </div>
    </div>
{{/hascourse}}